﻿@model DmrbTakip.DAL.Personel

@{
    ViewBag.Title = "ypislem";
    Layout = "~/Views/Shared/_LMaster.cshtml";
    var birimler = (IList<BirimView>)ViewBag.birim_id;
}
@using DmrbTakip.Models.Contructers;
<div class="row">
    <div class="col-md-12">
        <div class="breadcromb-area">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-left">
                        <h3>Yeni Personeller Tanımlama</h3>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-right">
                        <ul>
                            <li><a href="/">Ana Sayfa</a></li>
                            <li><a href="@Url.Action("Index","Personel")">Personeller</a></li>
                            <li>Yeni Personel Tanımlama</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="page-box">

            @using (Html.BeginForm("Create", "Personel", FormMethod.Post, new { enctype = "multipart/form-data", id = "form1" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Personel</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                  
                    <div class="form-group">
                        <label class="control-label col-md-2">Birim</label>
                        <div class="col-md-10">
                            <select class="form-control" id="birim" required>
                                <option value="" selected="selected">Seçiniz</option>  
                                @foreach (var item in birimler)
                                {
                                    <option value="@item.id">@item.birimadi</option>
                                }
                            </select>                           
                        </div>
                    </div>
                    <div class="form-group"> 
                        @Html.LabelFor(model => model.ad, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ad, new { htmlAttributes = new { @class = "form-control" , required = "required" } })                        
                            @Html.ValidationMessageFor(model => model.ad, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.soyad, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.soyad, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                            @Html.ValidationMessageFor(model => model.soyad, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.resim, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="file" name="image" />
                            @Html.ValidationMessageFor(model => model.resim, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.telefon, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.telefon, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                            @Html.ValidationMessageFor(model => model.telefon, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.eposta, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.eposta, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                            @Html.ValidationMessageFor(model => model.eposta, "", new { @class = "text-danger" })
                        </div>
                    </div>
                                     

                    <div class="form-group">
                        @Html.LabelFor(model => model.durum, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="form-group form-checkbox">
                                <input type="checkbox" checked="checked" id="durum" value="1">
                                <label class="inline control-label" for="durum">Aktif / Pasif</label>
                                <input type="hidden" name="durum" value="1" />
                            </div>
                            @Html.ValidationMessageFor(model => model.durum, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input id="kaydet" type="button" value="Kaydet" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Geri Dön", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script>
        //GetBirimler();
        $('#durum').on('click', function () {   
            var deger = $(this).is(':checked');
            if (deger) {
                $('input[name=durum]').val(1);
            }
            else {
                $('input[name=durum]').val(0);
            }
        });

        @*function GetBirimler() {
          
            var idx = $('#birim').val();
            $('#birim_id option').remove();
            $.post('@Url.Action("GetBirim", "Personels")', { bolum_id: idx }, function (result) {
               
                $.each(result, function (i, data) {
                    var option = '<option value=' + data.id + '>' + data.birimadi +'</option>';
                    $('#birim_id').append(option);
                });
            });
        }*@

        $('#kaydet').on('click', function (e) {
                    
            let errorcount = 0;
            $('input, select, textarea').each(
                function (index) {
                    var control = $(this).valid();
                    if (!control) {
                        errorcount++;
                    }
                }
            );
            if (errorcount > 0) {
                return;
            }

            e.preventDefault();
            var token = $('input[name="__RequestVerificationToken"]').val();
            var fdata = new FormData();
            var file = $('input[name=image]').prop("files")[0];
            fdata.append("__RequestVerificationToken", token);
            fdata.append("image", file);
            fdata.append("ad", $('#ad').val());
            fdata.append("soyad", $('#soyad').val());
            fdata.append("telefon", $('#telefon').val());
            fdata.append("eposta", $('#eposta').val());
            fdata.append("birim_id", $('#birim').val());
            fdata.append("durum", $('#durum').val());
            if (true) {

            }
            $.ajax({
                url: '@Url.Action("Create","Personels")',
                type: "POST",
                contentType: false,
                processData: false,
                data: fdata,
                success: function (data) {
                    swal({
                        title: "İşlem Sonucu",
                        text: data,
                        type: "success"
                    }, function () {
                        window.location.href = '@Url.Action("Index", "Personels")';
                    });

                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log(textStatus);
                }
            });
        });

    </script>


}