﻿@model DmrbTakip.DAL.Personel

@{
    ViewBag.Title = "ypislem";
    Layout = "~/Views/Shared/_LMaster.cshtml";
    string resim = string.IsNullOrEmpty(Model.resim) ? "resimyok.jpg" : Model.resim;
}

<div class="row">
    <div class="col-md-12">
        <div class="breadcromb-area">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-left">
                        <h3>Personel Güncelleme</h3>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-right">
                        <ul>
                            <li><a href="/">Ana Sayfa</a></li>
                            <li><a href="@Url.Action("Index","Personel")">Personeller</a></li>
                            <li>Personel Güncelleme</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="page-box">
            <form method="post" enctype="multipart/form-data" action="/Personels/Edit">
           
                @Html.AntiForgeryToken()
               

                <div class="form-horizontal">
                    <h4>Personel</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.id)
                    <div class="form-group">
                        @Html.LabelFor(model => model.resim, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <img src="~/Resimler/@resim" style="width:120px"/><br />
                            <input type="file" name="imagex" />
                            <input id="resim" type="hidden" value="@Model.resim"  />
                            @Html.ValidationMessageFor(model => model.resim, "", new { @class = "text-danger" })

                        </div>
                    </div>                   
                    <div class="form-group">
                        @Html.LabelFor(model => model.birim_id, "Birim", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("birim_id", null, htmlAttributes: new { @class = "form-control" ,required = "required" })
                            @Html.ValidationMessageFor(model => model.birim_id, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ad, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ad, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                            @Html.ValidationMessageFor(model => model.ad, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.soyad, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.soyad, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                            @Html.ValidationMessageFor(model => model.soyad, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.telefon, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.telefon, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                            @Html.ValidationMessageFor(model => model.telefon, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.eposta, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.eposta, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                            @Html.ValidationMessageFor(model => model.eposta, "", new { @class = "text-danger" })
                        </div>
                    </div>                  

                    <div class="form-group">
                        @Html.LabelFor(model => model.durum, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="form-group form-checkbox">
                                <input type="checkbox" @(Model.durum == 1 ? "checked" : "") id="durum" value="1">
                                <label class="inline control-label" for="durum">Aktif / Pasif</label>
                                <input type="hidden" id="durumx" value="1" />
                            </div>
                            @Html.ValidationMessageFor(model => model.durum, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button id="guncelle" class="btn btn-danger">Güncelle</button>
                        </div>
                    </div>
                </div>
            </form>

            <div>
                @Html.ActionLink("Geri Dön", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('#durum').on('click', function () {
            debugger
            var deger = $(this).is(':checked');
            if (deger) {
                $('#durumx').val(1);
            }
            else {
                $('#durumx').val(0);
            }
        });


        $('#guncelle').on('click', function (e) {
            e.preventDefault();

            let errorcount = 0;
            $('input, select, textarea').each(
                function (index) {
                    var control = $(this).valid();
                    if (!control) {
                        errorcount++;
                    }
                }
            );
            if (errorcount > 0) {
                return;
            }
            var token = $('input[name="__RequestVerificationToken"]').val();
            var fdata = new FormData();
            fdata.append("resim", $('#resim').val());
            debugger
            if ($('input[name=imagex]').get(0).files.length != 0) {
                var file = $('input[name=imagex]').prop("files")[0];
                fdata.append("imagex", file);
            }   
            fdata.append("id", $('#id').val());
            fdata.append("__RequestVerificationToken", token);           
            fdata.append("ad", $('#ad').val());
            fdata.append("soyad", $('#soyad').val());
            fdata.append("telefon", $('#telefon').val());
            fdata.append("eposta", $('#eposta').val());
            fdata.append("birim_id", $('#birim_id').val());
            fdata.append("durum", $('#durumx').val());
            $.ajax({
                url: '@Url.Action("Edit","Personels")',
                type: "POST",
                contentType: false,
                processData: false,
                data: fdata,
                success: function (data) {
                    swal({
                        title: "İşlem Sonucu",
                        text: data,
                        type: "success"
                    }, function () {
                        window.location.href = '@Url.Action("Index","Personels")';
                    });

                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log(textStatus);
                }
            });
        });
        @*function GetBirimler() {

            var idx = $('#bolum_id').val();
            $('#birim_id option').remove();
            $.post('@Url.Action("GetBirim", "Personels")', { bolum_id: idx }, function (result) {

                $.each(result, function (i, data) {
                    var option = '<option value=' + data.id + '>' + data.birimadi +'</option>';
                    $('#birim_id').append(option);
                });
            });
        }*@
    </script>


}
