﻿@model IEnumerable<DmrbTakip.DAL.Personel>

@{
    ViewBag.Title = "ypislem";
    Layout = "~/Views/Shared/_LMaster.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="breadcromb-area">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-left">
                        <h3>Tanımlı Personeller</h3>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-right">
                        <ul>
                            <li><a href="/">Giriş</a></li>
                            <li>Tanımlamalar</li>
                            <li>Personeller</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcromb Row -->
<!-- Advance Table Row Start -->
<div class="row">
    <div class="col-md-12">
        <div class="page-box">
            <div class="datatables-example-heading">
                <h3>Personeller</h3>
            </div>
            @Html.ActionLink("Yeni Kayıt", "Create", null, new { @class = "btn btn-info" })
            <div class="table-responsive advance-table">
                <table class="table display table-bordered" id="datalist">
                    <thead>
                        <tr>
                            <th>Resim</th>
                            <th>
                                @Html.DisplayNameFor(model => model.ad)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.soyad)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Birim.birimadi)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.telefon)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.eposta)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.durum)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            string resim = string.IsNullOrEmpty(item.resim) ? "resimyok.jpg" : item.resim;
                            <tr>
                                <td>
                                    <img src="~/Resimler/@(resim)" style="width:120px" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ad)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.soyad)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Birim.birimadi)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.telefon)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.eposta)
                                </td>
                                <td>
                                    <input type="checkbox" name="durum" value="@item.durum" @(item.durum == 1 ? "checked" : "") class="checkbox" disabled />
                                </td>

                                <td>
                                    @Html.ActionLink("Güncelle", "Edit", new { id = item.id }, new { @class = "btn btn-warning" })

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('#datalist').dataTable({
            "scrollY": "800px",
            "scrollCollapse": true,
            "paging": false
        });
    </script>

}