﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LMaster.cshtml";
}

<!-- Breadcromb Row Start -->
<div class="row">
    <div class="col-md-12">
        <div class="breadcromb-area">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-left">
                        <h3>Sayfa Oluştur</h3>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-right">
                        <ul>
                            <li><a href="/Giris/İndex">Giris</a></li>
                            <li>Sayfalar</li>
                            <li>Sayfa Olustur</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcromb Row -->
<!-- Create Page Row Start -->
<div class="row">
    <div class="col-md-12">
        <div class="page-box">
            <div class="row">
                <div class="col-md-9">
                    <div class="create-page-left">
                        <form>
                            <p>
                                <label>Sayfa Başlığı</label>
                                <input type="text" placeholder="Sayfa Başlığını Giriniz">
                            </p>
                            <div class="page-editor-box">
                                <label>Sayfa İçeriği</label>
                                <div id="page-editor"></div>
                            </div>
                            <p>
                                <button type="submit" class="btn btn-success"><i class="fa fa-check"></i>Yaynlama Sayfası</button>
                                <button type="submit" class="btn btn-default"><i class="fa fa-ban"></i>Taslaklara Kaydet</button>
                            </p>
                        </form>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="create-page-right">
                        <form>
                            <p>
                                <label>Sayfa Tipi</label>
                                <select class="selectpicker-page-type">
                                    <option>Normal</option>
                                    <option>Ana Sayfa</option>
                                    <option>Yazı Sayfası</option>
                                </select>
                            </p>
                            <p>
                                <label>Üst Sayfa</label>
                                <select class="selectpicker-page-type">
                                    <option>Üst yok</option>
                                    <option>Normal Sayfa</option>
                                </select>
                            </p>
                            <div class="page-img-upload">
                                <label>İçerik Haritasıe <span>(İsteğe Bağlı)</span></label>
                                <div class="product-upload btn btn-info">
                                    <i class="fa fa-upload"></i>
                                    Görüntü Yükle
                                    <input type="file">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Create Page Row -->
