﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LMaster.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="breadcromb-area">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-left">
                        <h3>Tüm Sayfalar</h3>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-right">
                        <ul>
                            <li><a href="/Giris/İndex">Giris</a></li>
                            <li>Sayfalar</li>
                            <li>Tüm Sayfalar</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcromb Row -->
<!-- Pages Table Row Start -->
<div class="row">
    <div class="col-md-12">
        <div class="page-box">
            <div class="table-responsive">
                <table id="page-list" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Sayfa ID</th>
                            <th>Sayfa Başlığı</th>
                            <th>Sayfa Tipi</th>
                            <th>Yetki</th>
                            <th>Görünüm</th>
                            <th>Yayın Tarihi</th>
                            <th>Eylem</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01</td>
                            <td>#121</td>
                            <td>Page Title</td>
                            <td>normal page</td>
                            <td>Admin</td>
                            <td>322</td>
                            <td>23/05/2017</td>
                            <td>
                                <a href="#" class="page-table-success" data-toggle="tooltip" title="View"><i class="fa fa-eye"></i></a>
                                <a href="#" class="page-table-info" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
                                <a href="#" class="page-table-danger" data-toggle="tooltip" title="Delete"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>02</td>
                            <td>#122</td>
                            <td>Page Title</td>
                            <td>normal page</td>
                            <td>Admin</td>
                            <td>322</td>
                            <td>23/05/2017</td>
                            <td>
                                <a href="#" class="page-table-success" data-toggle="tooltip" title="View"><i class="fa fa-eye"></i></a>
                                <a href="#" class="page-table-info " data-toggle="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
                                <a href="#" class="page-table-danger" data-toggle="tooltip" title="Delete"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>03</td>
                            <td>#123</td>
                            <td>Page Title</td>
                            <td>normal page</td>
                            <td>Admin</td>
                            <td>322</td>
                            <td>23/05/2017</td>
                            <td>
                                <a href="#" class="page-table-success" data-toggle="tooltip" title="View"><i class="fa fa-eye"></i></a>
                                <a href="#" class="page-table-info" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
                                <a href="#" class="page-table-danger" data-toggle="tooltip" title="Delete"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>04</td>
                            <td>#124</td>
                            <td>Page Title</td>
                            <td>normal page</td>
                            <td>Admin</td>
                            <td>322</td>
                            <td>23/05/2017</td>
                            <td>
                                <a href="#" class="page-table-success" data-toggle="tooltip" title="View"><i class="fa fa-eye"></i></a>
                                <a href="#" class="page-table-info" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
                                <a href="#" class="page-table-danger" data-toggle="tooltip" title="Delete"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>05</td>
                            <td>#125</td>
                            <td>Page Title</td>
                            <td>normal page</td>
                            <td>Admin</td>
                            <td>322</td>
                            <td>23/05/2017</td>
                            <td>
                                <a href="#" class="page-table-success" data-toggle="tooltip" title="View"><i class="fa fa-eye"></i></a>
                                <a href="#" class="page-table-info" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
                                <a href="#" class="page-table-danger" data-toggle="tooltip" title="Delete"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>06</td>
                            <td>#126</td>
                            <td>Page Title</td>
                            <td>normal page</td>
                            <td>Admin</td>
                            <td>322</td>
                            <td>23/05/2017</td>
                            <td>
                                <a href="#" class="page-table-success" data-toggle="tooltip" title="View"><i class="fa fa-eye"></i></a>
                                <a href="#" class="page-table-info" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
                                <a href="#" class="page-table-danger" data-toggle="tooltip" title="Delete"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>07</td>
                            <td>#127</td>
                            <td>Page Title</td>
                            <td>normal page</td>
                            <td>Admin</td>
                            <td>322</td>
                            <td>23/05/2017</td>
                            <td>
                                <a href="#" class="page-table-success" data-toggle="tooltip" title="View"><i class="fa fa-eye"></i></a>
                                <a href="#" class="page-table-info" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
                                <a href="#" class="page-table-danger" data-toggle="tooltip" title="Delete"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>08</td>
                            <td>#128</td>
                            <td>Page Title</td>
                            <td>normal page</td>
                            <td>Admin</td>
                            <td>322</td>
                            <td>23/05/2017</td>
                            <td>
                                <a href="#" class="page-table-success" data-toggle="tooltip" title="View"><i class="fa fa-eye"></i></a>
                                <a href="#" class="page-table-info" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
                                <a href="#" class="page-table-danger" data-toggle="tooltip" title="Delete"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>09</td>
                            <td>#129</td>
                            <td>Page Title</td>
                            <td>normal page</td>
                            <td>Admin</td>
                            <td>322</td>
                            <td>23/05/2017</td>
                            <td>
                                <a href="#" class="page-table-success" data-toggle="tooltip" title="View"><i class="fa fa-eye"></i></a>
                                <a href="#" class="page-table-info" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
                                <a href="#" class="page-table-danger" data-toggle="tooltip" title="Delete"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>#126</td>
                            <td>Page Title</td>
                            <td>normal page</td>
                            <td>Admin</td>
                            <td>322</td>
                            <td>23/05/2017</td>
                            <td>
                                <a href="#" class="page-table-success" data-toggle="tooltip" title="View"><i class="fa fa-eye"></i></a>
                                <a href="#" class="page-table-info" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
                                <a href="#" class="page-table-danger" data-toggle="tooltip" title="Delete"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>#166</td>
                            <td>Page Title</td>
                            <td>normal page</td>
                            <td>Admin</td>
                            <td>328</td>
                            <td>23/05/2017</td>
                            <td>
                                <a href="#" class="page-table-success" data-toggle="tooltip" title="View"><i class="fa fa-eye"></i></a>
                                <a href="#" class="page-table-info" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
                                <a href="#" class="page-table-danger" data-toggle="tooltip" title="Delete"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>#165</td>
                            <td>Page Title</td>
                            <td>normal page</td>
                            <td>Admin</td>
                            <td>324</td>
                            <td>23/05/2017</td>
                            <td>
                                <a href="#" class="page-table-success" data-toggle="tooltip" title="View"><i class="fa fa-eye"></i></a>
                                <a href="#" class="page-table-info" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
                                <a href="#" class="page-table-danger" data-toggle="tooltip" title="Delete"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- End Pages Table Row -->
