﻿
@{
    ViewBag.Title = "anasayfa";
    Layout = "~/Views/Shared/_LMaster.cshtml";

    int demirbasSayisi = (int)ViewBag.demirbasSayisi;
    int zimmetSayisi = (int)ViewBag.zimmetSayisi;
    int depoSayisi = (int)ViewBag.depoSayisi;
    int islemlogsayi = (int)ViewBag.islemlogsayi;
    int hatalogsayi = (int)ViewBag.hatalogsayi;

    var demirbasListe = (IList<Demirba>)ViewData["demirbasListe"];
    var modelListe = (IList<Model>)ViewData["modelListe"];
    var markaListe = (IList<Marka>)ViewData["markaListe"];
    var kategoriListe = (IList<Kategori>)ViewData["kategoriListe"];


    var sonYapilanZimmetler = (IList<Zimmet>)ViewData["sonYapilanZimmetler"];
    var sonAlinanHatalar = (IList<Islem_Log>)ViewData["sonAlinanIslemHatalar"];

    var oranList = (IList<DemirbasKullanimOranView>)ViewBag.Oran;
    Tuple<int, int> demirbasOran = (Tuple<int, int>)ViewBag.DemirbasOran;

    int indexDemirbas = 0;
    int indexZimmet = 0;

}

@using DmrbTakip.DAL;
@using DmrbTakip.Models.Contructers;

<div class="row">
    <div class="col-md-12">
        <div class="breadcromb-area">
            <div class="row">
                <div class="col-md-6  col-sm-6">
                    <div class="seipkon-breadcromb-left">
                        <h3>Ana Sayfa</h3>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-right">
                        <ul>
                            <li><a href="/Giris/Index">Giris</a></li>
                            <li>Ana Sayfa</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Breadcromb Row -->
<!-- Widget Row Start -->
<div class="row">
    <div class="col-md-3">
        <div id="clock" class="widget_card alert">
            <div class="widget_card_body">
                <div class="widget_icon">
                    <i class="fa fa-microchip"></i>
                </div>
                <div class="widget_text">
                    <h3 class="count">@demirbasSayisi</h3>
                    <p>Demirbaş Sayısı</p>
                </div>
            </div>
        </div>
    </div>

    <!-- End Col -->

    <div class="col-md-3">
        <div id="clock" class="widget_card alert">
            <div class="widget_card_body">
                <div class="widget_icon">
                    <i class="fa fa-id-card"></i>
                </div>
                <a class="widget_text" href="@Url.Action("Kullanim","Demirbas")">
                    <h3 class="count">@zimmetSayisi</h3>
                    <p>Zimmet Sayısı</p>
                </a>
            </div>
        </div>
    </div>
    <!-- End Col -->
    <div class="col-md-3">
        <div id="clock" class="widget_card alert">
            <div class="widget_card_body">
                <div class="widget_icon">
                    <i class="fa fa-times-rectangle-o"></i>
                </div>
                <a class="widget_text" href="@Url.Action("Depo","Demirbas")">
                    <h3 class="count">@depoSayisi</h3>
                    <p>Depo Sayısı</p>
                </a>
            </div>
        </div>
    </div>
    <!-- End Col -->
    <div class="col-md-3">
        <div id="clock" class="widget_card alert">
            <div class="widget_card_body">
                <div class="widget_icon">
                    <i class="fa fa-window-close"></i>
                </div>
                <div class="widget_text">
                    <h3 class="count">@hatalogsayi - @islemlogsayi</h3>
                    <p>Hata Log - İşlem Log </p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Col -->
</div>

<div class="row">
    <div class="col-md-4">
        <div class="widget_card_two alert">
            <div class="widget_card_header">
                <h3>Son eklenen demirbaşlar</h3>
                <ul>
                    <li>
                    </li>
                </ul>
            </div>
            <div class="widget_card_body collapse in" id="invoice_statement">
                <div class="table-responsive">
                    <table id="invoice-list" class="table display table-hover">
                        <thead>
                            <tr>
                                <th>Sıra</th>
                                <th>Resim</th>
                                <th>Kategori</th>
                                <th>Marka</th>
                                <th>Model</th>
                                <th>Adı</th>
                                <th>Ekleme Tarihi</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in demirbasListe)
                            {
                                string yol = "resimyok.jpg";
                                if (!string.IsNullOrEmpty(item.resim))
                                {
                                    yol = item.resim;
                                }
                                string marka = markaListe.Where(r => r.id == item.model_id).Select(r => r.markaadi).FirstOrDefault();
                                string kategori = kategoriListe.Where(r => r.id == item.Model.kategori_id).Select(t => t.kategoriadi).FirstOrDefault();
                                indexDemirbas++;
                                <tr>
                                    <td>@indexDemirbas</td>
                                    <td>
                                    <img src="~/Resimler/@yol" />
                                    </td>
                                    <td>@kategori</td>
                                    <td>@marka</td>
                                    <td>@item.Model.modeladi</td>
                                    <td>
                                        <span class="label label-success">@item.demirbasadi</span>
                                    </td>
                                    <td>@item.alisTarihi.ToShortDateString()</td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-4">
        <div class="widget_card_two alert">
            <div class="widget_card_header">
                <h3>Son yapılan zimmetler</h3>
                <ul>
                    <li>
                    </li>
                </ul>
            </div>
            <div class="widget_card_body collapse in" id="invoice_statement">
                <div class="table-responsive">
                    <table id="invoice-list" class="table display table-hover">
                        <thead>
                            <tr>
                                <th>Sıra</th>
                                <th>Resim</th>
                                <th>Demirbaş</th>
                                <th>Personel/Ofis</th>
                                <th>Teslim Tarihi</th>
                                <th>Açıklama</th>                               
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in sonYapilanZimmetler)
                            {
                                string yol = "resimyok.jpg";
                                if (!string.IsNullOrEmpty(item.Demirba.resim))
                                {
                                    yol = item.Demirba.resim;
                                }
                                indexZimmet++;
                                <tr>
                                    <td>@indexDemirbas</td>
                                    <td>
                                        <img src="~/Resimler/@yol" />
                                    </td>
                                    <td>@item.Demirba.demirbasadi</td>
                                    <td>@(item.personel_id == null ? item.Ofi.Ofis_Firma.Select(q=>q.firmaadi).FirstOrDefault() +"/"+ item.Ofi.ofisno : item.Personel.ad +" "+ item.Personel.soyad)</td>
                                    <td><span class="label label-success">@item.tarih.ToShortDateString()</span></td>
                                    <td>
                                        @item.aciklama
                                    </td>                                   
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- End Col -->
    <div class="col-md-4">
        <div class="widget_card_two alert">
            <div class="widget_card_header">
                <h3>Demirbaş Oranları</h3>
                <ul>
                    <li>
                    </li>
                </ul>
            </div>
            <div class="widget_card_body collapse in" id="Earnings">
                <div class="chart">
                    <div id="demirbasOran" style="height:250px"></div>
                </div>
            </div>
        </div>
        <div class="widget_card_two alert">
            <div class="widget_card_header">
                <h3>Zimmetli Demirbaşlar</h3>
                <ul>
                    <li>
                    </li>
                </ul>
            </div>
            <div class="widget_card_body collapse in" id="Campaign">

                @foreach (var item in oranList)
                {

                    <div class="progress-list">

                        <div class="progress-box">
                            <p class="progress-title">@item.DemirbasKAtegori [@item.KullanilanAdet - @item.ToplamAdet]</p>
                            <p class="progress-size">@Math.Round(item.Oran.Value,2)%</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@(Convert.ToInt32(item.Oran.Value))" aria-valuemin="0" aria-valuemax="100" style="width: @(Convert.ToInt32(item.Oran.Value))%"></div>
                            </div>
                        </div>

                    </div>
                }
            </div>
        </div>
        <div class="widget_card_two alert">
            <div class="widget_card_two alert">
                <div class="widget_card_header">
                    <h3>Son alınan işlem hataları</h3>
                    <ul>
                        <li>
                        </li>
                    </ul>
                </div>
                <div class="widget_card_body collapse in" id="invoice_statement">
                    <div class="table-responsive">
                        <table id="invoice-list" class="table display table-hover">
                            <thead>
                                <tr>
                                    <th>sıra</th>
                                    <th>Başlık</th>
                                    <th>Tarih</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < sonAlinanHatalar.Count; i++)
                                {
                                    <tr>
                                        <td>@(i + 1)</td>
                                        <td>
                                            <span class="label label-success">@sonAlinanHatalar[i].baslik</span>
                                        </td>
                                        <td>@sonAlinanHatalar[i].tarih.ToShortDateString()</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Col -->
</div>

@section scripts{
    <script>

    var area = new Morris.Donut({
        element: 'demirbasOran',
        data: [{
            label: "Kullanılan",
            value: @zimmetSayisi
        },
        {
            label: "Depoda",
            value: @depoSayisi
        }],
        resize: true,
        colors: ["#f25454", "#0FC5BB"]

    });

    </script>
}