﻿@model DmrbTakip.DAL.Ofi

@{
    ViewBag.Title = "ofisler";
    Layout = "~/Views/Shared/_LMaster.cshtml";
    var katlar = (SelectList)ViewBag.kat_id;
    var binalar = (SelectList)ViewBag.bina_id;
}

<div class="row">
    <div class="col-md-12">
        <div class="breadcromb-area">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-left">
                        <h3>Birim Güncelleme</h3>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-right">
                        <ul>
                            <li><a href="/">Giriş</a></li>
                            <li><a href="@Url.Action("Index","Birims")">Birimler</a></li>
                            <li>Birim Güncelleme</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="page-box">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Ofis Bilgi</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.ofisno, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="ofisno" name="ofisno" value="@Model.ofisno" required />                               
                            @Html.ValidationMessageFor(model => model.ofisno, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.kat_id, "Kat", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <select class="form-control select2" id="kat_id" name="kat_id">                               
                                @foreach (var item in katlar.OrderBy(e => e.Text))
                                {
                                    <option value="@item.Value" @(Convert.ToInt32(item.Value) == Model.kat_id ? "selected": "")>@item.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.bina_id, "Bina", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <select class="form-control select2" id="bina_id" name="bina_id">                                
                                @foreach (var item in binalar)
                                {
                                    <option value="@item.Value" @(Convert.ToInt32(item.Value) == Model.bina_id ? "selected": "")>@item.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.durum, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="form-group form-checkbox">
                                <input type="checkbox" @(Model.durum == 1 ? "checked" : "") name="durum" id="durum" value="1">
                                <label class="inline control-label" for="durum">Aktif / Pasif</label>
                            </div>
                            @Html.ValidationMessageFor(model => model.durum, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Güncelle" class="btn btn-danger" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Geri Dön", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
</div>