﻿@model IEnumerable<DmrbTakip.DAL.Ofi>

@{
    ViewBag.Title = "ofisler";
    Layout = "~/Views/Shared/_LMaster.cshtml";
    int index = 0;
}

<div class="row">
    <div class="col-md-12">
        <div class="breadcromb-area">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-left">
                        <h3>Tanımlı Ofisler</h3>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-right">
                        <ul>
                            <li><a href="/">Giriş</a></li>                         
                            <li>Ofisler</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="page-box">
            <div class="datatables-example-heading">
                <h3>Ofisler</h3>
            </div>
            @Html.ActionLink("Yeni Kayıt", "Create", null, new { @class = "btn btn-info" })
            <div class="table-responsive advance-table">
                <table class="table display table-bordered" id="datalist">
                    <thead>
                        <tr>
                            <th>Sıra</th>
                            <th>
                                @Html.DisplayNameFor(model => model.ofisno)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Kat.katadi)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Bina.binaadi)
                            </th>
                            <th>Durum</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            index++;
                            <tr>
                                <td>@index</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ofisno)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Kat.katadi)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Bina.binaadi)
                                </td>
                                <td>
                                    <input type="checkbox" name="durum" value="@item.durum" @(item.durum == 1 ? "checked" : "") class="checkbox" disabled />
                                </td>
                                <td>
                                    @Html.ActionLink("Güncelle", "Edit", new { id = item.id }, new { @class = "btn btn-warning" })
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('#datalist').dataTable({
            "scrollY": "800px",
            "scrollCollapse": true,
            "paging": false
        });
    </script>

}