﻿@model DmrbTakip.DAL.Rol

@{
    ViewBag.Title = "roller";
    Layout = "~/Views/Shared/_LMaster.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Rol</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.rol1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rol1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.durum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.durum)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
