﻿@model IEnumerable<DmrbTakip.DAL.Demirba>

@{
    ViewBag.Title = "dlist";
    Layout = "~/Views/Shared/_LMaster.cshtml";
    I_Helper _hlp = (I_Helper)ViewBag.Helper;
}
@using DmrbTakip.Models.Interfaceses;

<div class="row">
    <div class="col-md-12">
        <div class="breadcromb-area">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-left">
                        <h3>Tanımlı Demirbaş Depo Listesi</h3>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-right">
                        <ul>
                            <li><a href="/">Giriş</a></li>
                            <li><a href="@Url.Action("Index")">Giriş</a>Demirbaşlar</li>
                            <li>Aktif Demirbaş Depo Liste</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="page-box">
            <div class="datatables-example-heading">
                <h3>Demirbaşlar</h3>
            </div>           
            <a href="javascript:ExportToExcel()" title="Çıktı Döküm Al" class="btn btn-warning">Çıktı Döküm Al</a>
            <div class="table-responsive advance-table">
                <table class="table display table-bordered" id="dataDepo" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                Seri no
                            </th>
                            <th>
                                Resim
                            </th>
                            <th>
                                Kategori
                            </th>
                            <th>
                                Marka
                            </th>
                            <th>
                                Model
                            </th>
                            <th>
                                Demirbaş
                            </th>
                            <th>
                                Alış Tarihi
                            </th>                           
                            <th>
                                Durum
                            </th>                         
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderBy(w => w.Model.Kategori.kategoriadi).ThenBy(t => t.Model.modeladi).ThenBy(t => t.demirbasadi))
                        {
                            string resim = string.IsNullOrEmpty(item.resim) ? "resimyok.jpg" : item.resim;
                            <tr>
                                <td>
                                    <img src="@Url.Action("BarcodeImage","QRCodeCeviri",  new { id = item.serino })" /><br />
                                    @Html.DisplayFor(modelItem => item.serino)
                                </td>
                                <td>
                                    <img src="~/Resimler/@(resim)" style="width:120px" />
                                </td>
                                <th>
                                    @Html.DisplayFor(model => item.Model.Kategori.kategoriadi)
                                </th>
                                <th>
                                    @Html.DisplayFor(model => item.Model.Marka.markaadi)
                                </th>
                                <th>
                                    @Html.DisplayFor(model => item.Model.modeladi)
                                </th>
                                <td>
                                    @Html.DisplayFor(modelItem => item.demirbasadi)
                                </td>
                                <td>
                                    @item.alisTarihi.ToShortDateString()
                                </td>                              
                                <td>
                                    <input type="checkbox" name="durum" value="@item.durum" @(item.durum == 1 ? "checked" : "") class="checkbox" disabled />
                                </td>
                               
                            </tr>
                                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('#dataDepo').DataTable({
            paging: false,
            scrollY: 800
        });
        function PrintLabel(serino,title,detail)
        {
            $.post('@Url.Action("LabelPrint", "QRCodeCeviri")', { 'serino': serino, 'title': title, 'detail': detail }, function (data) {
                alert(data);
                //window.location.href = data;


                //http://localhost:61662/Demirbas/Index
            });
        }

        function ExportToExcel() {
            var reportName = "DepolListe_";
            var tarih = new Date();
            var day = tarih.getDate();
            var month = tarih.getMonth() + 1;
            var year = tarih.getFullYear();
            var hour = tarih.getHours();
            var mins = tarih.getMinutes();
            var postfix = day + "-" + month + "-" + year + "#" + hour + "." + mins;
            var rname = reportName + postfix + '.xls'
            $("#dataDepo").table2excel({
                filename: rname
            });
        }
    </script>
}