﻿@model DmrbTakip.DAL.Demirba

@{
    ViewBag.Title = "dtanim";
    Layout = "~/Views/Shared/_LMaster.cshtml";
    var kategori = (IList<Kategori>)ViewBag.kategori_id;
    var marka = (IList<Marka>)ViewBag.marka_id;
    long serino = (long)ViewBag.serino;
}
@using DmrbTakip.DAL;
<div class="row">
    <div class="col-md-12">
        <div class="breadcromb-area">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-left">
                        <h3>Demirbaş Güncelleme</h3>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-right">
                        <ul>
                            <li><a href="/">Ana Sayfa</a></li>
                            <li><a href="@Url.Action("Index","Demirbas")">Demirbaşlar</a></li>
                            <li>Demirbaş Bilgi Güncelleme</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="page-box">
            @using (Html.BeginForm("Edit", "Demirbas", FormMethod.Post, new { enctype = "multipart/form-data", id = "form1" }))
            {
                @Html.AntiForgeryToken()
                string resim = string.IsNullOrEmpty(Model.resim) ? "resimyok.jpg" : Model.resim;

                <div class="form-horizontal">
                    <h4>Demirbaş</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.model_id, "Kategori", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <select class="form-control select2" id="kategori_id">
                                @foreach (var item in kategori)
                                {
                                    <option value="@item.id" @(item.id == Model.Model.kategori_id ? "selected" : "")>@item.kategoriadi</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Marka</label>
                        <div class="col-md-10">
                            <select class="form-control select2" id="marka_id">
                                @foreach (var item in marka)
                                {
                                    <option value="@item.id" @(item.id == Model.Model.marka_id ? "selected" : "")>@item.markaadi</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Model</label>
                        <div class="col-md-10">
                            <select class="form-control select2" id="model_id">
                                <option selected="selected">Seçiniz</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.demirbasadi, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.demirbasadi, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                            @Html.ValidationMessageFor(model => model.demirbasadi, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Seri No</label>
                        <div class="col-md-10">
                            <input type="text" name="serinox" id="serinox" value="@Model.serino" class="form-control" required readonly />

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Alış Tarihi</label>
                        <div class="col-md-10">
                            <input type="text" name="alisTarihi" id="alisTarihi" value="@Model.alisTarihi.ToShortDateString()" class="form-control" required/>

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.resim, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <img src="~/Resimler/@resim" style="width: 300px; height:300px" /><br />
                            <input type="file" name="image" />
                            <input id="resim" type="hidden" value="@Model.resim" />
                            @Html.ValidationMessageFor(model => model.resim, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.durum, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="form-group form-checkbox">
                                <input type="checkbox" @(Model.durum == 1 ? "checked" : "") id="durum" value="1">
                                <label class="inline control-label" for="durum">Aktif / Pasif</label>
                                <input type="hidden" name="durum" value="1" />
                            </div>
                            @Html.ValidationMessageFor(model => model.durum, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button id="guncelle" class="btn btn-warning">Güncelle</button>
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Geri Dön", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            GetModels();
        })
        //$('#alisTarihi').daterangepicker({
        //    singleDatePicker: true,
        //    "locale": {
        //        "format": "MM/DD/YYYY",
        //        "separator": " - ",
        //        "applyLabel": "Basvur",
        //        "cancelLabel": "iptal",
        //        "fromLabel": "Adres",
        //        "toLabel": "Kime",
        //        "customRangeLabel": "Ozel",
        //        "daysOfWeek": [
        //            "Pz",
        //            "Pt",
        //            "Sa",
        //            "Ca",
        //            "Pe",
        //            "Cu",
        //            "Ct"
        //        ],
        //        "monthNames": [
        //            "Ocak",
        //            "Subat",
        //            "Mart",
        //            "Nisan",
        //            "Mayis",
        //            "Haziran",
        //            "Temmuz",
        //            "Agustos",
        //            "Eylul",
        //            "Ekim",
        //            "Kasim",
        //            "Aralik"
        //        ],
        //        "firstDay": 1
        //    }
        //});

        $('#kategori_id').on('change', function (e)
        {
            e.preventDefault();
            var kategori_id = $(this).val();
            if (kategori_id !== null) {
                $.getJSON('@Url.Action("getMarkas", "Demirbas")', { 'kategori_id': kategori_id }, function (result) {
                    $('#marka_id option').remove();
                    $('#model_id option').remove();
                    $('#model_id').append('<option selected>Seçiniz</option>');
                    $('#marka_id').append('<option selected>Seçiniz</option>');
                    $.each(result, function (i, data) {
                        var option = '<option value=' + data.id + '>' + data.markaadi + '</option>';
                        $('#marka_id').append(option);
                    });
                });
            }
        });

        $('#marka_id').on('change', function (e) {
            e.preventDefault();
            GetModels();
        });

        function GetModels() {
            
            var marka_id = $('#marka_id').val();
            var kategori_id = $('#kategori_id').val();
            var model_id = "@(Model.model_id)";
            $.getJSON('@Url.Action("getModels", "Demirbas")', { 'marka_id': marka_id, 'kategori_id': kategori_id }, function (result) {
                $('#model_id option').remove();
                $('#model_id').append('<option selected>Seçiniz</option>');
                $.each(result, function (i, data) {
                    
                    var secim = "";
                    if (model_id == data.id) {
                        secim = "selected";
                    }
                    var option = '<option value=' + data.id + ' ' + secim + ' >' + data.modeladi + '</option>';
                    $('#model_id').append(option);
                });
            });

        }

        $('#durum').on('click', function () {

            var deger = $(this).is(':checked');
            if (deger) {
                $('input[name=durum]').val(1);
            }
            else {
                $('input[name=durum]').val(0);
            }
        });


        $('#guncelle').on('click', function (e) {
            e.preventDefault();

            let errorcount = 0;           
            $('#form1 input, #form1 select').each(function (index) {                
                var control = $(this).valid();
                if (!control) {
                    errorcount++;
                }
            });

            if (errorcount > 0) {
                return;
            }

            var token = $('input[name="__RequestVerificationToken"]').val();
            var fdata = new FormData();
            debugger
            fdata.append("resim", $('#resim').val());
            if ($('input[name=image]').get(0).files.length != 0) {
                var file = $('input[name=image]').prop("files")[0];
                fdata.append("image", file);
            }           
            var serix = $('#serinox').val();
            var modelid = $('#model_id').val();
            var alistar = $('#alisTarihi').val();
            var demadi = $('#demirbasadi').val();
            var durum = $('#durum').val();           
            fdata.append("id", $('#id').val());
            fdata.append("__RequestVerificationToken", token);           
            fdata.append("demirbasadi", demadi);
            fdata.append("serino", serix);
            fdata.append("alisTarihi", alistar);
            fdata.append("model_id", modelid);         
            fdata.append("durum", durum);
            $.ajax({
                url: '@Url.Action("Edit","Demirbas")',
                type: "POST",
                contentType: false,
                processData: false,
                data: fdata,
                success: function (data) {
                    if (data == "Demirbaş başarı ile Güncellendi") {
                          swal({
                        title: "İşlem Sonucu",
                        text: data,
                        type: "success"
                    }, function () {
                        window.location.href = '@Url.Action("Index","Demirbas")';
                    });
                    }
                    else {
                        swal({
                            title: "Hata",
                            text: data,
                            type: "warning"
                        });
                    }

                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log(textStatus);
                }
            });
        });

    </script>
}
