﻿@model IEnumerable<DmrbTakip.DAL.Demirba>

@{
    ViewBag.Title = "dtanim";
    Layout = "~/Views/Shared/_LMaster.cshtml";
    I_Helper _hlp = (I_Helper)ViewBag.Helper;
}
@using DmrbTakip.Models.Interfaceses;

<div class="row">
    <div class="col-md-12">
        <div class="breadcromb-area">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-left">
                        <h3>Tanımlı Demirbaşlar</h3>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-right">
                        <ul>
                            <li><a href="/">Giriş</a></li>
                            <li>Tanımlamalar</li>
                            <li>Demirbaslar</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="page-box">
            <div class="datatables-example-heading">
                <h3>Demirbaşlar</h3>
            </div>
            @Html.ActionLink("Yeni Kayıt", "Create", null, new { @class = "btn btn-info" })
            <a href="~/PDemirbas.html" title="Çıktı Döküm Al" class="btn btn-warning" target="_blank">Çıktı Döküm Al</a>
            <div class="table-responsive advance-table">
                <table class="table display table-bordered" id="datalist" >
                    <thead>
                        <tr>
                            <th>
                                Seri No
                            </th>
                            <th>
                                Resim
                            </th>   
                            <th>
                                Kategori
                            </th>  
                            <th>
                                Marka
                            </th>
                            <th>
                                Model
                            </th>                                
                            <th>
                                Demirbaş
                            </th>    
                            <th>
                                Alış Tarihi
                            </th> 
                            <th>
                                Zimmet
                            </th>   
                            <th>
                                Durum
                            </th>
                            <th>
                                İşlem
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderBy(w=>w.Model.Kategori.kategoriadi).ThenBy(t=>t.Model.modeladi).ThenBy(t=>t.demirbasadi))
                        {                           
                            string resim = string.IsNullOrEmpty(item.resim) ? "resimyok.jpg" : item.resim;
                            <tr>
                                <td>
                                    <img src="@Url.Action("BarcodeImage","QRCodeCeviri",  new { id = item.serino })" /><br />
                                    @Html.DisplayFor(modelItem => item.serino)
                                </td>
                                <td>
                                    <img src="~/Resimler/@(resim)" style="width:120px" />
                                </td>     
                                <th>
                                    @Html.DisplayFor(model => item.Model.Kategori.kategoriadi)
                                </th>
                                <th>
                                    @Html.DisplayFor(model => item.Model.Marka.markaadi)
                                </th>
                                <th>
                                    @Html.DisplayFor(model => item.Model.modeladi)
                                </th>
                                <td>
                                    @Html.DisplayFor(modelItem => item.demirbasadi)
                                </td>                     
                                <td>
                                    @item.alisTarihi.ToShortDateString()
                                </td>                                
                                <td>
                                    @{       
                                        string durum = "Depoda";
                                        string kullanan = string.Empty;
                                        var kontrol = item.Zimmets.Where(q=>q.durum==1).OrderByDescending(r => r.id).FirstOrDefault();
                                        if (kontrol != null)
                                        {
                                            durum = "Kullanımda";
                                            kullanan = kontrol.Personel.ad + " " + kontrol.Personel.soyad + " (" + kontrol.Personel.Birim.birimadi + ")";
                                        }
                                        <span class="@(durum == "Kullanımda" ? "label label-success" : "label label-default")">@durum </span><br />
                                        @kullanan
                                    }
                                </td>   
                                <td>
                                    <input type="checkbox" name="durum" value="@item.durum" @(item.durum == 1 ? "checked" : "") class="checkbox" disabled />
                                </td>
                                <td>
                                    @Html.ActionLink("Güncelle", "Edit", new { id = item.id }, new { @class = "btn btn-warning" })     
                                    @*<a href="javascript:PrintLabel('@item.serino','@item.serino','@item.demirbasadi');" id="etiket" class="btn btn-info">Etiket Bas</a>*@
                                    @*@Html.ActionLink("Etiket Bas", "LabelPrint", "QRCodeCeviri", new { serino = @item.serino, title = item.serino, detail = item.demirbasadi }, new { @class = "btn btn-primary"})*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('#datalist').dataTable({
            "scrollY": "800px",
            "scrollCollapse": true,
            "paging": false
        });
        function PrintLabel(serino,title,detail)
        {
            $.post('@Url.Action("LabelPrint", "QRCodeCeviri")', { 'serino': serino, 'title': title, 'detail': detail }, function (data) {
                alert(data);
                //window.location.href = data;


                //http://localhost:61662/Demirbas/Index
            });
        }
</script>
    }