﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Teknoportsoft Demirbaş takip sistemi" />
    <meta name="keywords" content="Teknoportsoft, yazılım,yazilim, program, egitim,teknoloji, sistem,proje, demirbas, takip,stok" />
    <meta name="author" content="Themescare">
    <!-- Title -->
    <title>Demirbas Takip - Personel Zimmet Sistemi</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="~/assets/img/favicon/favicon-32x32.png">
    <!-- Animate CSS -->
    <link href="~/assets/css/animate.min.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link href="~/assets/plugins/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <!-- Font awesome CSS -->
    <link href="~/assets/plugins/font-awesome/font-awesome.min.css" rel="stylesheet" />
    <!-- Themify Icon CSS -->
    <link href="~/assets/plugins/themify-icons/themify-icons.css" rel="stylesheet" />
    <!-- Perfect Scrollbar CSS -->
    <link href="~/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.css" rel="stylesheet" />
    <!-- Main CSS -->
    <link href="~/assets/css/seipkon.css" rel="stylesheet" />
    <!-- Responsive CSS -->
    <link href="~/assets/css/responsive.css" rel="stylesheet" />

</head>

<body class="body_white_bg">
       
    <div class="seipkon-login-page-header-area">

        <div class="container-fluid">

            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="login-page-logo">
                        <a href="/">
                            <img src="~/assets/img/demirlogo.png" /> 
                        </a>
                    </div>
                </div>
             
            </div>
        </div>
    </div>
   
    <div class="seipkon-login-form-area">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="login-form-box">
                        <h3>Sisteme Giriş Yap</h3>
                        <form id="formkayit" action="#" method="post">
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <input type="text" name="kullaniciAdi" placeholder="Kullanıcı Adı" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="password" name="sifre" placeholder="Şifre" class="form-control" autocomplete="off">
                            </div>

                            <div class="form-group form-checkbox">
                                <input type="checkbox" id="hatirla">
                                <label class="inline control-label" for="hatirla">Beni Hatırla</label>
                            
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-layout-submit">
                                            <button type="button" id="GirisYap">Giriş Yap</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>                    
                </div>
                <div class="col-md-4 col-md-offset-4">
                    <p style="text-align:center; margin-top:30%">Demirbaş Takip Pro - Tasarım ve proje <a href="http://www.teknoportsoft.com" target="_blank">Teknoportsoft</a></p>
                </div>
            </div>
        </div>

    </div>

    <!-- Login Form End -->
    <!-- jQuery -->
    <script src="~/assets/js/jquery-3.1.0.min.js"></script>
    <!-- Bootstrap JS -->
    <link href="~/assets/plugins/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <!-- Perfect Scrollbar JS -->
    <script src="~/assets/plugins/perfect-scrollbar/jquery-perfect-scrollbar.min.js"></script>
    <!-- Custom JS -->
    <script src="~/assets/js/seipkon.js"></script>

    <script type="text/javascript">
    $('#GirisYap').on('click', function () {
        var token = $('input[name="__RequestVerificationToken"]').val();
        var kullanici = $('input[name=kullaniciAdi]').val();
        var sifre = $('input[name=sifre]').val();
        var hatir = $('#hatirla').is(':checked');
        if (kullanici == "" || sifre == "" ) {
            alert("Lütfen boş alan bırakmayınız");
            return;
        }
        $.post('@Url.Action("GirisBasarili","KimlikDogrulama")', { '__RequestVerificationToken': token, 'kullaniciAdi': kullanici, 'sifre': sifre, 'hatirla': hatir }, function (result) {
            if (result.sonuc) {
                window.location.href = result.adres;
            }
            else {
                alert(result.mesaj);
            }
        });
    });
    </script>
</body>
</html>
