﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Seipkon is a Premium Quality Admin Site Responsive Template" />
    <meta name="keywords" content="admin template, admin, admin dashboard, cms, Seipkon Admin, premium admin templates, responsive admin, panel, software, ui, web app, application" />
    <meta name="author" content="Themescare">
    <!-- Title -->
    <title>Demirbas Takip - @ViewBag .Title</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">
    <!-- Animate CSS -->
    <link href="~/assets/css/animate.min.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link href="~/assets/plugins/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <!-- Font awesome CSS -->
    <link href="~/assets/plugins/font-awesome/font-awesome.min.css" rel="stylesheet" />
    <!-- Themify Icon CSS -->
    <link href="~/assets/plugins/themify-icons/themify-icons.css" rel="stylesheet" />
    <!-- Perfect Scrollbar CSS -->
    <link href="~/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.css" rel="stylesheet" />
    <!-- Main CSS -->
    <link href="~/assets/css/seipkon.css" rel="stylesheet" />
    <!-- Responsive CSS -->
    <link href="~/assets/css/responsive.css" rel="stylesheet" />
</head>
<body class="body_white_bg">

    <!-- Start Page Loading -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->
    <!-- Login Page Header Area Start -->
    <div class="seipkon-login-page-header-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="login-page-logo">
                        <a href="index.html">
                            <img src="~/assets/img/logo.png" />
                        </a>
                    </div>
                </div>
                <div class="col-md-8 col-sm-8">
                    <div class="login-page-logo-right">

                        <a href="/KimlikDogrulama/KayitOl">Kayıt Ol</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Login Page Header Area End -->
    <!-- Login Form Start -->
    <div class="seipkon-login-form-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="login-form-box forgot-password">
                        <h3>Şifrenizi mi Unuttunuz ?</h3>
                        <p>Şifrenizi sıfırlamak için e-posta adresinizi aşağıya girin.</p>
                        <form action="index.html">
                            <div class="form-group">
                                <input type="email" placeholder="Email Adresinizi Girin" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-layout-submit">
                                            <button type="submit">Gönder</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Login Form End -->
    <!-- jQuery -->
    <script src="~/assets/js/jquery-3.1.0.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/assets/plugins/bootstrap/bootstrap.min.js"></script>
    <!-- Perfect Scrollbar JS -->
    <script src="~/assets/plugins/perfect-scrollbar/jquery-perfect-scrollbar.min.js"></script>
    <!-- Custom JS -->
    <script src="~/assets/js/seipkon.js"></script>

</body>
</html>