﻿@model DmrbTakip.DAL.Kullanici

@{
    ViewBag.Title = "kullaniciler";
    Layout = "~/Views/Shared/_LMaster.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="breadcromb-area">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-left">
                        <h3>Yeni Kullanıcı Tanımlama</h3>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-right">
                        <ul>
                            <li><a href="/">Ana Sayfa</a></li>
                            <li><a href="@Url.Action("Index","Kullanicis")">Kullanıcır</a></li>
                            <li>Yeni Kullanıcı Tanımlama</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="page-box">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Kullanici</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.kullaniciadi, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input id="kullaniciadi" name="kullaniciadi" type="text" class="form-control" value="" required />                       
                        @Html.ValidationMessageFor(model => model.kullaniciadi, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.sifre, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input id="sifre" name="sifre" type="text" class="form-control" value="" required />  
                        @Html.ValidationMessageFor(model => model.sifre, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.tarih, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input id="tarih" name="tarih" type="text" class="form-control" value="" required />                   
                        @Html.ValidationMessageFor(model => model.tarih, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Rol, "Rol", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("rol_id", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.rol_id, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.durum, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="form-group form-checkbox">
                            <input type="checkbox" checked="checked" name="durum" id="durum" value="1">
                            <label class="inline control-label" for="durum">Aktif / Pasif</label>
                        </div>
                        @Html.ValidationMessageFor(model => model.durum, "", new { @class = "text-danger" })
                    </div>
                </div>
               

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Kaydet" class="btn btn-success" />
                    </div>
                </div>
            </div>
            }

            <div>
                @Html.ActionLink("Geri Dön", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
</div>