﻿@model DmrbTakip.DAL.Kullanici

@{
    ViewBag.Title = "kullaniciler";
    Layout = "~/Views/Shared/_LMaster.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Kullanici</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.kullaniciadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kullaniciadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sifre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sifre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.durum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.durum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rol.rol1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rol.rol1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Güncelle", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Geri Dön", "Index", null, new { @class = "btn btn-default" })
</p>
