﻿@{
    var identity = (ClaimsIdentity)User.Identity;
    string resim = string.Empty;
    string ad = string.Empty;
    string soyad = string.Empty;
    string rol = string.Empty;
    if (identity.IsAuthenticated)
    {
        rol = identity.Claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).FirstOrDefault();
        if (rol == "kontrolcu")
        {
            resim = identity.FindFirst(ClaimTypes.Upn).Value;
        }
        else if (rol == "admin")
        {
            resim = "/Resimler/resimyok.jpg";
        }
        ad = identity.Claims.Where(c => c.Type == ClaimTypes.Name).Select(c => c.Value).FirstOrDefault();
        soyad = identity.Claims.Where(c => c.Type == ClaimTypes.Surname).Select(c => c.Value).FirstOrDefault();
    }
    string islemler = string.Empty;
    string dbtanimlama = string.Empty;
    string tanimlamalar = string.Empty;
    string kul_islemler = string.Empty;
    string loglar = string.Empty;


    string anasayfa = string.Empty;
    string kbul = string.Empty;
    string zislem = string.Empty;
    string OfisZimmet = string.Empty;
    string PersonelZimmmet = string.Empty;
    string dtanim = string.Empty;
    string dlist = string.Empty;
    string kzliste = string.Empty;
    string kategoriler = string.Empty;
    string marka = string.Empty;
    string modelx = string.Empty;
    string tIslem = string.Empty;
    string binalar = string.Empty;
    string katlar = string.Empty;
    string ofisler = string.Empty;
    string birimler = string.Empty;
    string ypislem = string.Empty;
    string KullanıciIslem = string.Empty;
    string roller = string.Empty;
    string kullaniciler = string.Empty;
    string islem_log = string.Empty;
    string hata_log = string.Empty;

    string aktifsayfa = (string)ViewBag.Title;
    switch (aktifsayfa)
    {
        case "anasayfa":
            anasayfa = "active";
            break;
        case "kbul":
            kbul = "active";
            break;
        case "zislem":
            zislem = "active";
            break;
        case "OfisZimmet":
            OfisZimmet = "active";
            break;
        case "PersonelZimmmet":
            PersonelZimmmet = "active";
            break;
        case "dtanim":
            dtanim = "active";
            break;
        case "dlist":
            dlist = "active";
            break;
        case "kzliste":
            kzliste = "active";
            break;
        case "kategoriler":
            kategoriler = "active";
            break;
        case "marka":
            marka = "active";
            break;
        case "modelx":
            modelx = "active";
            break;
        case "tIslem":
            tIslem = "active";
            break;
        case "binalar":
            binalar = "active";
            break;
        case "katlar":
            katlar = "active";
            break;
        case "ofisler":
            ofisler = "active";
            break;
        case "birimler":
            birimler = "active";
            break;
        case "ypislem":
            ypislem = "active";
            break;
        case "KullanıciIslem":
            KullanıciIslem = "active";
            break;
        case "roller":
            roller = "active";
            break;
        case "kullaniciler":
            kullaniciler = "active";
            break;
        case "islem_log":
            islem_log = "active";
            break;
        case "hata_log":
            hata_log = "active";
            break;  
        default:
            break;
    }

    islemler = PersonelZimmmet != "" ? "in" : OfisZimmet != "" ? "in" : "";
    dbtanimlama = dtanim != "" ? "in" : dlist != "" ? "in" : kzliste != "" ? "in" : kategoriler != "" ? "in" : marka != "" ? "in" : modelx != "" ? "in" : "";
    tanimlamalar = binalar != "" ? "in" : katlar != "" ? "in" : ofisler != "" ? "in" : birimler != "" ? "in" : "";
    kul_islemler = roller != "" ? "in" : kullaniciler != "" ? "in" : "";
    loglar = islem_log != "" ? "in" : hata_log != "" ? "in" : "";
}

@using System.Security.Claims;

<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Teknoportsoft Demirbaş takip sistemi" />
    <meta name="keywords" content="Teknoportsoft, yazılım,yazilim, program, egitim,teknoloji, sistem,proje, demirbas, takip,stok" />
    <meta name="author" content="Themescare">

    <title>Demirbas Takip - @ViewBag.Title</title>

    <link rel="icon" type="image/png" sizes="32x32" href="~/assets/img/favicon/favicon-32x32.png">

    <link rel="stylesheet" href="~/assets/css/animate.min.css">

    <link rel="stylesheet" href="~/assets/plugins/bootstrap/bootstrap.min.css">

    <link rel="stylesheet" href="~/assets/plugins/font-awesome/font-awesome.min.css">

    <link rel="stylesheet" href="~/assets/plugins/themify-icons/themify-icons.css">

    <link rel="stylesheet" href="~/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.css">

    @*<link rel="stylesheet" href="~/assets/plugins/jvector/css/jquery-jvectormap.css">*@
    <link rel="stylesheet" href="~/assets/plugins/select2/css/select2.min.css">

    <link rel="stylesheet" href="~/assets/plugins/daterangepicker/css/daterangepicker.css">

    <link rel="stylesheet" href="~/assets/plugins/bootstrap-select/css/bootstrap-select.min.css">

    @*<link rel="stylesheet" href="~/assets/plugins/summernote/css/summernote.css">*@
    <link rel="stylesheet" href="~/assets/plugins/sweet-alerts/css/sweetalert.css">
    <link rel="stylesheet" href="~/assets/plugins/datatables/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/plugins/datatables/css/buttons.bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/plugins/datatables/css/responsive.bootstrap.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="~/assets/css/seipkon.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/assets/css/responsive.css">
</head>
<body>

    <!-- Start Page Loading -->
    @*<div id="loader-wrapper">
            <div id="loader"></div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
        </div>*@
    <!-- End Page Loading -->
    <!-- Wrapper Start -->
    <div class="wrapper">
        <!-- Main Header Start -->
        <header class="main-header">

            <!-- Logo Start -->
            <div class="seipkon-logo">
                <a href="@Url.Action("Index", "Giris")" style="font-size:30px; font-family:Bahnschrift; color:white">
                    <img src="~/assets/img/demirlogo.png" />
                </a>
            </div>
            <!-- Logo End -->
            <!-- Header Top Start -->
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="header-top-section">
                        <div class="pull-left">

                            <!-- Collapse Menu Btn Start -->
                            <button type="button" id="sidebarCollapse" class=" navbar-btn">
                                <i class="fa fa-bars"></i>
                            </button>
                            <!-- Collapse Menu Btn End -->
                            <!-- Header Top Search Start -->
                            <div class="header-top-search">
                                <form>
                                    <input type="search" id="serino" placeholder="Demirbaş seri no..">
                                    <button type="button" onclick="Demirbasara();"><i class="fa fa-search"></i></button>
                                </form>


                            </div>

                            <!-- Header Top Search End -->

                        </div>
                        <div class="header-top-right-section pull-right">
                            <ul class="nav nav-pills nav-top navbar-right">

                                <!-- Full Screen Btn Start -->
                                <li>
                                    <a href="#" id="fullscreen-button">
                                        <i class="fa fa-arrows-alt"></i>
                                    </a>
                                </li>

                                <li class="dropdown">
                                    <a class="dropdown-toggle profile-toggle" href="#" data-toggle="dropdown">
                                        <img src="@resim" class="profile-avator" alt="profil" />
                                        <div class="profile-avatar-txt">
                                            <p>@ad @soyad</p>
                                            <i class="fa fa-angle-down"></i>
                                        </div>
                                    </a>
                                    <div class="profile-box dropdown-menu animated bounceIn">
                                        <ul>
                                            @*<li><a href="/profil/Index"><i class="fa fa-user"></i>Profilimi Görüntüle</a></li>
                                                <li><a href="#"><i class="fa fa-pencil-square-o"></i>Profilimi Düzenle</a></li>
                                                <li><a href="#"><i class="fa fa-flash"></i>Eklinlik Günlüğü</a></li>
                                                <li><a href="#"><i class="fa fa-wrench"></i>Ayarlar</a></li>*@
                                            <li><a href="/KimlikDogrulama/LogOff"><i class="fa fa-power-off"></i>Çıkış Yap</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <!-- Profile Toggle End -->

                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Header Top End -->

        </header>
        <!-- Main Header End -->
        <!-- Sidebar Start -->
        <aside class="seipkon-main-sidebar">
            <nav id="sidebar">
                <!-- Sidebar Profile Start -->
                <div class="sidebar-profile clearfix">
                    <div class="profile-avatar">
                        <img src="@resim" alt="profile" />
                    </div>
                    <div class="profile-info">
                        <h3>@ad</h3>
                        <p>Hoşgeldin Admin!</p>
                    </div>
                </div>
                <!-- Sidebar Profile End -->
                <!-- Menu Section Start -->
                <div class="menu-section">
                    <h3>İşlemler</h3>
                    <ul class="list-unstyled components">
                        <li class="@anasayfa">
                            <a href="@Url.Action("Index","Giris")">
                                <i class="fa fa-dashboard"></i>
                                Ana Sayfa
                            </a>
                        </li>
                        <li class="@kbul">
                            <a href="@Url.Action("QrReder","Zimmets")">
                                <i class="fa fa-search"></i>
                                Kayit Bul
                            </a>
                        </li>
                        <li>
                            <a href="#islemler" data-toggle="collapse" aria-expanded="false" callopse>
                                <i class="fa fa-pencil-square-o"></i>
                                Zimmet İşlem
                            </a>
                            <ul class="list-unstyled collapse @(islemler)" id="islemler">
                                <li class="@PersonelZimmmet"><a href="@Url.Action("PersonelListe","Zimmets")">Yönetim Personel Zimmet </a></li>
                                <li class="@OfisZimmet"><a href="@Url.Action("OfisListe","Zimmets")">Bina Ofis Zimmet </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#dbtanimlama" data-toggle="collapse" aria-expanded="false">
                                <i class="fa fa-list-ul"></i>
                                Demirbaş İşlem
                            </a>
                            <ul class="list-unstyled collapse @(dbtanimlama)" id="dbtanimlama">
                                <li class="@dtanim"><a href="@Url.Action("Index","Demirbas")">Demirbaş Tanım</a></li>
                                <li class="@dlist"><a href="@Url.Action("Depo","Demirbas")">Depo Liste</a></li>
                                <li class="@kzliste"><a href="@Url.Action("Kullanim","Demirbas")">Kullanim(Zimmet) Liste</a></li>
                                <li class="@kategoriler"><a href="@Url.Action("Index","Kategoris")">Kategoriler</a></li>
                                <li class="@marka"><a href="@Url.Action("Index","Markas")">Marka</a></li>
                                <li class="@modelx"><a href="@Url.Action("Index","Models")">Model</a></li>

                            </ul>
                        </li>
                        <li>
                            <a href="#tanimlamalar" data-toggle="collapse" aria-expanded="false">
                                <i class="fa fa-arrows-alt"></i>
                                Taşınmaz İşlem
                            </a>
                            <ul class="list-unstyled collapse @(tanimlamalar)" id="tanimlamalar">
                                <li class="@binalar"><a href="@Url.Action("Index","Binas")">Binalar</a></li>
                                <li class="@katlar"><a href="@Url.Action("Index","Kats")">Katlar</a></li>
                                <li class="@ofisler"><a href="@Url.Action("Index","Ofis")">Ofisler</a></li>
                                <li class="@birimler"><a href="@Url.Action("Index","Birims")">Birimler</a></li>
                            </ul>
                        </li>
                        <li class="@ypislem">
                            <a href="@Url.Action("Index","Personels")">
                                <i class="fa fa-bars"></i>
                                Yönetim Personel İşlem
                            </a>
                        </li>
                        <li>
                            <a href="#kul_islemler" data-toggle="collapse" aria-expanded="false">
                                <i class="fa fa-pencil-square-o"></i>
                                Kullanıcı İşlem
                            </a>
                            <ul class="list-unstyled collapse @(kul_islemler)" id="kul_islemler">
                                <li class="@roller"><a href="@Url.Action("Index","Rols")">Roller</a></li>
                                <li class="@kullaniciler"><a href="@Url.Action("Index","Kullanicis")">Kullanıcılar</a></li>
                            </ul>
                        </li>
                        <li class="@loglar">
                            <a href="#loglar" data-toggle="collapse" aria-expanded="false">
                                <i class="fa fa-wrench"></i>
                                Loglar
                            </a>
                            <ul class="list-unstyled collapse @(loglar)" id="loglar">
                                <li class="@islem_log"><a href="@Url.Action("Index","Islem_Log")">İşlem_Log</a></li>
                                <li class="@hata_log"><a href="@Url.Action("Index","Hata_Log")">Hata_Log</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </nav>
        </aside>
        <!-- End Sidebar -->
        <!-- Right Side Content Start -->
        <section id="content" class="seipkon-content-wrapper">
            <div class="page-content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>

            <!-- Footer Area Start -->
            <footer class="seipkon-footer-area">
                <p>Demirbaş Takip Pro - Tasarım ve proje <a href="http://www.teknoportsoft.com" target="_blank">Teknoportsoft</a></p>
            </footer>
            <!-- End Footer Area -->

        </section>
        <!-- End Right Side Content -->

    </div>

    <script src="~/assets/js/jquery-3.1.0.min.js"></script>
    <script src="~/assets/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="~/assets/plugins/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/assets/plugins/daterangepicker/js/moment.min.js"></script>
    <script src="~/assets/plugins/daterangepicker/js/daterangepicker.js"></script>
    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script src="~/assets/js/messages_tr.min.js"></script>
    @*<script src="~/assets/plugins/jvector/js/jquery-jvectormap-1.2.2.min.js"></script>
        <script src="~/assets/plugins/jvector/js/jquery-jvectormap-world-mill-en.js"></script>
        <script src="~/assets/plugins/jvector/js/jvector-init.js"></script>*@
    @*<script src="~/assets/plugins/raphael/js/raphael.min.js"></script>*@
    <script src="~/assets/plugins/morris/js/morris.min.js"></script>
    <script src="~/assets/plugins/sparkline/js/jquery.sparkline.js"></script>
    <script src="~/assets/plugins/charts/js/Chart.js"></script>
    @*<script src="~/assets/plugins/datatables/js/jquery.dataTables.min.js"></script>*@
    <script src="~/assets/plugins/perfect-scrollbar/jquery-perfect-scrollbar.min.js"></script>
    @*<script src="~/assets/plugins/vue/vue.min.js"></script>*@
    @*<script src="~/assets/plugins/summernote/js/summernote.js"></script>
        <script src="~/assets/plugins/summernote/js/custom-summernote.js"></script>*@


    <script src="~/assets/plugins/select2/js/select2.full.js"></script>
    <script src="~/assets/plugins/masked-input/js/jquery.maskedinput.min.js"></script>
    <script src="~/assets/plugins/sweet-alerts/js/sweetalert.min.js"></script>

    <script src="~/assets/plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatables/js/dataTables.bootstrap.min.js"></script>
    <script src="~/assets/plugins/datatables/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/plugins/datatables/js/dataTables.responsive.min.js"></script>
    <script src="~/assets/plugins/raphael/js/raphael.min.js"></script>
    <script src="~/assets/js/table2excel.js"></script>

    @*<script src="~/assets/js/dashboard.js"></script>*@

    <script src="~/assets/js/seipkon.js"></script>



    @RenderSection("scripts", required: false)
</body>
</html>
<script>
    $('input[type=search]').on('keydown', function (e) {
        if (e.which == 13) {
            e.preventDefault();
            Demirbasara();
        }
    });

    $('#datatable1').dataTable(
        {
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Turkish.json"
            }

        });

    function Demirbasara() {

        var seri = $('#serino').val();
        $.post('@Url.Action("GetDemirbasKayit", "Demirbas")', { 'serino': seri }, function (result) {

            if (result.id !== 0) {
                window.location.href = '../Demirbas/Edit?id=' + result.id;
            }
            else {
               swal({
                        title: "İşlem Sonucu",
                        text: "Aradğınız kriterde demirbaş bulunamadı!" ,
                        type: "warning"

                    });
            }
        })
    }
</script>