﻿@model IEnumerable<DmrbTakip.DAL.Model>

@{
    ViewBag.Title = "modelx";
    Layout = "~/Views/Shared/_LMaster.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="breadcromb-area">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-left">
                        <h3>Tanımlı Modeller</h3>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-right">
                        <ul>
                            <li><a href="/">Giriş</a></li>
                            <li>Tanımlamalar</li>
                            <li>Modeller</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcromb Row -->
<!-- Advance Table Row Start -->
<div class="row">
    <div class="col-md-12">
        <div class="page-box">
            <div class="datatables-example-heading">
                <h3>Modeller</h3>
            </div>
            @Html.ActionLink("Yeni Kayıt", "Create", null, new { @class = "btn btn-info" })
            <div class="table-responsive advance-table">
                <table class="table display table-bordered" id="datalist">
                    <thead>
                        <tr>
                            <th>
                                Kategori
                            </th>
                            <th>
                                Marka
                            </th>
                            <th>
                                Model
                            </th>
                            <th>
                                Seri No
                            </th>
                            <th>
                                Durum
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Kategori.kategoriadi)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Marka.markaadi)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.modeladi)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.modelkodu)
                                </td>
                                <td>
                                    <input type="checkbox" name="durum" value="@item.durum" @(item.durum == 1 ? "checked" : "") class="checkbox" disabled />
                                </td>
                                <td>
                                    @Html.ActionLink("Güncelle", "Edit", new { id = item.id }, new { @class = "btn btn-warning" })
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('#datalist').dataTable({
            "scrollY": "800px",
            "scrollCollapse": true,
            "paging": false
        });
    </script>

}