﻿@model DmrbTakip.DAL.Bina

@{
    ViewBag.Title = "binalar";
    Layout = "~/Views/Shared/_LMaster.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="breadcromb-area">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-left">
                        <h3>Bina Güncelleme</h3>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-right">
                        <ul>
                            <li><a href="/">Giriş</a></li>
                            <li><a href="@Url.Action("Index","Binas")">Binalar</a></li>
                            <li>Bina Güncelleme</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="page-box">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Bina</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.id)

                    <div class="form-group">
                        <label class="control-label col-md-2">Bina Adı</label>      
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="binaadi" name="binaadi" value="@Model.binaadi" required /> 
                           
                            @Html.ValidationMessageFor(model => model.binaadi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Yönetim Bina</label> 
                        <div class="col-md-10">
                            <div class="form-group form-checkbox">
                                <input type="checkbox" @(Model.yonetim.HasValue ? "checked" : "") name="yonetim" id="yonetim" value="1">
                                <label class="inline control-label" for="yonetim">Yönetim / Ofis (Boş seçimde ofis seçilir)</label>
                            </div>
                            @Html.ValidationMessageFor(model => model.yonetim, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Durum</label>  
                        <div class="col-md-10">
                            <div class="form-group form-checkbox">
                                <input type="checkbox" @(Model.durum == 1 ? "checked" : "") name="durum" id="durum" value="1">
                                <label class="inline control-label" for="durum">Aktif / Pasif</label>
                            </div>
                            @Html.ValidationMessageFor(model => model.durum, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Güncelle" class="btn btn-danger" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Geri Dön", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
</div>