﻿@model IEnumerable<DmrbTakip.DAL.Bina>

@{
    ViewBag.Title = "binalar";
    Layout = "~/Views/Shared/_LMaster.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="breadcromb-area">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-left">
                        <h3>Tanımlı Binalar</h3>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-right">
                        <ul>
                            <li><a href="/">Giriş</a></li>
                            <li>Binalar</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="page-box">
            <div class="datatables-example-heading">
                <h3>Binalar</h3>
            </div>
            @Html.ActionLink("Yeni Kayıt", "Create", null, new { @class = "btn btn-info" })
            <div class="table-responsive advance-table" >
                <table class="table display table-bordered" id="datalist">
                    <thead>
                        <tr>
                            <th>
                                Bina Adı
                            </th>
                            <th>
                               Yönetim Binası
                            </th>
                            <th>
                               Durum
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.binaadi)
                                </td>
                                <td>
                                    <input type="checkbox" name="yonetim" value="@item.yonetim" @(item.yonetim.HasValue ? "checked" : "") class="checkbox" disabled />
                                </td>
                                <td>
                                    <input type="checkbox" name="durum" value="@item.durum" @(item.durum == 1 ? "checked" : "") class="checkbox" disabled />
                                </td>                               
                                <td>
                                    @Html.ActionLink("Güncelle", "Edit", new { id = item.id }, new { @class = "btn btn-warning" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('#datalist').dataTable({
            "scrollY": "800px",
            "scrollCollapse": true,
            "paging": false
        });
    </script>

}