﻿@model DmrbTakip.DAL.Zimmet

@{
    ViewBag.Title = "PersonelZimmmet";
    Layout = "~/Views/Shared/_LMaster.cshtml";

    var kategoriler = (IList<Kategori>)ViewBag.kategori_id;
    var bina = (IList<Bina>)ViewBag.bina_id;
    var katlar = (IList<Kat>)ViewBag.kat_id;
    var birimler = (IList<BirimView>)ViewBag.birim_id;
}
@using DmrbTakip.DAL;
@using DmrbTakip.Models.Contructers;

<div class="row">
    <div class="col-md-12">
        <div class="breadcromb-area">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-left">
                        <h3>Yeni Birim Personel Demirbaşı Zimmet Tanımlama</h3>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-right">
                        <ul>
                            <li><a href="/">Ana Sayfa</a></li>
                            <li><a href="@Url.Action("PersonelListe","Zimmets")">Zimmetler</a></li>
                            <li>Yeni Zimmet</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="page-box">
            @using (Html.BeginForm("Create", "Zimmets", FormMethod.Post, new { id = "form1" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Personel Demirbaş Zimmet</h4>
                    <hr />
                    <div class="form-group">
                        <label class="control-label col-md-2">Kategori</label>
                        <div class="col-md-10">
                            <select class="form-control select2" id="kategori_id" name="kategori_id" required>
                                <option value="" selected="selected">Seçiniz</option>
                                @foreach (var item in kategoriler)
                                {
                                    <option value="@item.id">@item.kategoriadi</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Marka</label>
                        <div class="col-md-10">
                            <select class="form-control select2" id="marka_id" name="marka_id" required>
                                <option value="" selected="selected">Seçiniz</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Model</label>
                        <div class="col-md-10">
                            <select class="form-control select2" id="model_id" name="model_id" required>
                                <option value="" selected="selected">Seçiniz</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Demirbaş Bilgi</label>
                        <div class="col-md-10">
                            <select class="form-control select2" id="demirbas_id" name="demirbas_id" required>
                                <option value="" selected="selected">Seçiniz</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Bina</label>
                        <div class="col-md-10">
                            <select class="form-control select2" id="bina_id" name="bina_id" required>
                                <option value="" selected="selected">Seçiniz</option>
                                @foreach (var item in bina)
                                {
                                    <option value="@item.id">@item.binaadi</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Kat</label>
                        <div class="col-md-10">
                            <select class="form-control select2" id="kat_id" name="kat_id" required>
                                <option value="" selected="selected">Seçiniz</option>
                                @foreach (var item in katlar)
                                {
                                    <option value="@item.id">@item.katadi</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Birim</label>
                        <div class="col-md-10">
                            <select class="form-control select2" id="birim_id" name="birim_id" required>
                                <option value="" selected="selected">Seçiniz</option>
                                @foreach (var item in birimler)
                                {
                                    <option value="@item.id">@item.birimadi</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group" id="personel">
                        <label class="control-label col-md-2">Personel Bilgi</label>
                        <div class="col-md-10">
                            <select class="form-control select2" id="personel_id" name="personel_id" required>
                                <option value="" selected="selected">Seçiniz</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Tarih</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="tarih" name="tarih" required />
                            @Html.ValidationMessageFor(model => model.tarih, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.aciklama, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.aciklama, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.aciklama, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group" style="visibility:hidden">
                        @Html.LabelFor(model => model.durum, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="form-group form-checkbox">
                                <input type="checkbox" checked="checked" id="durum" value="1">
                                <label class="inline control-label" for="durum">Aktif / İade et</label>
                                <input type="hidden" name="durum" value="1" />
                            </div>
                            @Html.ValidationMessageFor(model => model.durum, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input id="kaydet" type="button" value="Kaydet" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Geri Dön", "PersonelListe", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        $('.select2').select2();

        $('#tarih').daterangepicker({
            singleDatePicker: true,
            "locale": {
                "format": "DD.MM.YYYY",
                "daysOfWeek": [
                    "Pz",
                    "Pt",
                    "Sa",
                    "Ca",
                    "Pe",
                    "Cu",
                    "Ct"
                ],
                "monthNames": [
                    "Ocak",
                    "Subat",
                    "Mart",
                    "Nisan",
                    "Mayis",
                    "Haziran",
                    "Temmuz",
                    "Agustos",
                    "Eylul",
                    "Ekim",
                    "Kasim",
                    "Aralik"
                ],
                "firstDay": 1
            }
        });

        $('#iadeTarih').val('');

        $('#durum').on('click', function () {

            var deger = $(this).is(':checked');
            if (deger) {
                $('input[name=durum]').val(1);
            }
            else {
                $('input[name=durum]').val(0);
            }
        });

        $('#model_id').on('change', function () {

            var idx = $(this).val();
            if (idx == "0") {
                return;
            }
            $('#demirbas_id option').remove();
            $.post('@Url.Action("GetDemirbaslar","Zimmets")', { model_id: idx }, function (result) {

                $.each(result, function (i, data) {
                    var option = '<option value=' + data.id + '>' + data.demirbasAdi +' ('+ data.serino + ') </option>';
                    $('#demirbas_id').append(option);
                });
            });
        });

        $('#kategori_id').on('change', function (e)
        {
            e.preventDefault();
            var kategori_id = $(this).val();
            if (kategori_id != null) {
                $.getJSON('@Url.Action("getMarkas", "Demirbas")', { 'kategori_id': kategori_id }, function (result) {
                    $('#marka_id option').remove();
                    $('#model_id option').remove();
                    $('#model_id').append('<option selected>Seçiniz</option>');
                    $('#marka_id').append('<option selected>Seçiniz</option>');
                    $.each(result, function (i, data) {
                        var option = '<option value=' + data.id + '>' + data.markaadi + '</option>';
                        $('#marka_id').append(option);
                    });
                });
            }
        });

        $('#marka_id').on('change', function (e) {
            e.preventDefault();
            var marka_id = $(this).val();
            var kategori_id = $('#kategori_id').val();
            if (marka_id != null) {
                $.getJSON('@Url.Action("getModels", "Demirbas")', { 'marka_id': marka_id, 'kategori_id': kategori_id }, function (result) {
                    $('#model_id option').remove();
                    $('#model_id').append('<option selected>Seçiniz</option>');
                    $.each(result, function (i, data) {
                        var option = '<option value=' + data.id + '>' + data.modeladi + '</option>';
                        $('#model_id').append(option);
                    });
                });
            }
        });

          $('#birim_id').on('change', function () {

            var idx = $(this).val();
            $('#personel_id option').remove();
            $.post('@Url.Action("GetPersonels", "Zimmets")', { birim_id: idx }, function (result) {

                $.each(result, function (i, data) {
                    var option = '<option value=' + data.id + '>' + data.Adi + " " + data.Soyadi +'</option>';
                    $('#personel_id').append(option);
                });
            });
        });
        function dateFormat(date) {
            let year = date.split('.')[2];
            let month = date.split('.')[1];
            let day = date.split('.')[0];
            let newdate = year + "-" + month + "-" + day;
            return newdate;
        }
          $('#kaydet').on('click', function (e) {

              e.preventDefault();
              let errorcount = 0;
              $('#form1 input, #form1 select').each(function (index) {                  
                  var control = $(this).valid();
                  if (!control) {
                      errorcount++;
                  }
              });

              if (errorcount > 0) {
                  return;
              }
              debugger
            var token = $('input[name="__RequestVerificationToken"]').val();
            var demirbas = $('#demirbas_id').val();
            var personel = $('#personel_id').val();
            var tarih = $('#tarih').val();
            var fdata = new FormData();

            fdata.append("__RequestVerificationToken", token);
            fdata.append("demirbas_id", demirbas);
            fdata.append("personel_id", personel);
              fdata.append("tarih", dateFormat(tarih));
            fdata.append("aciklama", $('#aciklama').val());
            fdata.append("durum", $('#durum').val());
            if ((demirbas == "Seçiniz" || demirbas == null) || personel == "Seçiniz") {
                var boslar = "";
                if (demirbas == "Seçiniz" || demirbas == null) {
                    boslar += "Demirbaş Bilgi,";
                }
                if (personel == "Seçiniz" || personel == null) {
                    boslar += "Personel Bilgi,";
                }
                boslar = boslar.substring(0, boslar.length - 1);
                swal({
                    title: "Hata",
                    text: "Lütfen tüm bilgileri giriniz! (" + boslar + ")",
                    type: "warning"
                });
                return;
            }
            $.ajax({
                url: '@Url.Action("Create","Zimmets")',
                type: "POST",
                contentType: false,
                processData: false,
                data: fdata,
                success: function (data) {
                    if (data == "Zimmet seçili personele başarı ile yapıldı") {
                        swal({
                            title: "İşlem Sonucu",
                            text: data,
                            type: "success"
                        }, function () {
                            window.location.href = '@Url.Action("PersonelListe", "Zimmets")';
                        })
                    }
                    else {
                        swal({
                            title: "Hata",
                            text: data,
                            type: "warning"
                        });
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log(textStatus);
                }
            });
        });
          function GetBirimler() {

            var idx = $('#bolum_id').val();
            $('#birim_id option').remove();
            var option = '<option value=0 selected>Seçiniz</option>';
            $('#birim_id').append(option);
            $.post('@Url.Action("GetBirim", "Personels")', { bolum_id: idx }, function (result) {

                $.each(result, function (i, data) {
                    var option = '<option value=' + data.id + '>' + data.birimadi +'</option>';
                    $('#birim_id').append(option);
                });
            });
        }

    </script>


}