﻿@model IEnumerable<DmrbTakip.DAL.Zimmet>

@{
    ViewBag.Title = "OfisZimmet";
    Layout = "~/Views/Shared/_LMaster.cshtml";
    var ofisler = (List<DmrbTakip.Models.Contructers.OfisZimmetView>)ViewBag.Ofisler;
}

<div class="row">
    <div class="col-md-12">
        <div class="breadcromb-area">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-left">
                        <h3>Tanımlı Ofis Zimmetler</h3>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-right">
                        <ul>
                            <li><a href="/">Giriş</a></li>                           
                            <li>Zimmetler</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcromb Row -->
<!-- Advance Table Row Start -->
<div class="row">
    <div class="col-md-12">
        <div class="page-box">
            <div class="datatables-example-heading">
                <h3>Ofis Zimmetler</h3>
            </div>
            @Html.ActionLink("Yeni Kayıt", "Ofis_Create", null, new { @class = "btn btn-info" })
            <div class="table-responsive advance-table">
                <table class="table display table-bordered" id="datatable1" style="width:100%">
                    <thead>
                        <tr>                                                 
                            <th>
                               Ofis No
                            </th>
                            <th>
                                Kat
                            </th>
                            <th>Bina</th>     
                            <th>Zimmet Bilgi</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ofisler)
                        {                           
                            <tr>                              
                                <td>                                  
                                   @item.ofisno
                                </td>
                                <td>
                                    @item.kat
                                </td>
                                <td>
                                    @item.bina
                                </td>
                                <td>
                                    <table class="table">
                                        <tr>
                                            <th>Demirbas Kategori</th>
                                            <th>
                                                Marka
                                            </th>
                                            <th>
                                                Model
                                            </th>
                                            <th>
                                                Demirbaş Bilgi
                                            </th>
                                            <th>
                                                Zimmet Tarihi
                                            </th>
                                            @*<th>
                                                İade Tarihi (İade Edilmişse)
                                            </th>*@
                                            <th>
                                                Açıklama
                                            </th>
                                            @*<th>
                                                Durum
                                            </th>*@

                                            <th></th>
                                        </tr>
                                        @foreach (var itemDty in Model.Where(r => r.ofis_id == item.ofis_id))
                                        {
                                            <tr>
                                                <td>@itemDty.Demirba.Model.Kategori.kategoriadi</td>
                                                <td>@itemDty.Demirba.Model.Marka.markaadi</td>
                                                <td>@itemDty.Demirba.Model.modeladi</td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => itemDty.Demirba.demirbasadi)<br />
                                                    @itemDty.Demirba.serino
                                                </td>
                                                <td>
                                                    @itemDty.tarih.ToShortDateString()
                                                </td>
                                                @*<td>
                                                    @(itemDty.iadetarih == null ? "Ofis zimmetinde" : itemDty.iadetarih.Value.ToShortDateString())
                                                </td>*@
                                                <td>
                                                    @Html.DisplayFor(modelItem => itemDty.aciklama)
                                                </td>
                                                @*<td>
                                                        <input type="checkbox" name="durum" value="@itemDty.durum" @(itemDty.durum == 1 ? "checked" : "") class="checkbox" disabled />
                                                    </td>*@

                                                <td>
                                                    @Html.ActionLink("İşlem", "Ofis_Edit", new { id = itemDty.id }, new { @class = "btn btn-bordered-primary" })
                                                    
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </td>
                                <td>
                                    <a href="~/OZimmet.html?id=@item.ofis_id" title="Çıktı Döküm Al" class="btn btn-info" target="_blank">Çıktı Döküm Al</a>
                                </td>

                                
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
</div>
</div>
