﻿

@model DmrbTakip.DAL.Zimmet

@{
    ViewBag.Title = "OfisZimmet";
    Layout = "~/Views/Shared/_LMaster.cshtml";

    var kategoriler = (IList<Kategori>)ViewBag.kategori_id;
    var bina = (IList<Bina>)ViewBag.bina_id;
    var katlar = (IList<Kat>)ViewBag.kat_id;
    var ofisler = (IList<OfisView>)ViewBag.ofis_id;
}
@using DmrbTakip.DAL;
@using DmrbTakip.Models.Contructers;

<div class="row">
    <div class="col-md-12">
        <div class="breadcromb-area">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-left">
                        <h3>Zimmet Güncelleme</h3>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-right">
                        <ul>
                            <li><a href="/">Ana Sayfa</a></li>
                            <li><a href="@Url.Action("OfisListe","Zimmets")">Zimmetler</a></li>
                            <li>Zimmet Güncelleme</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="page-box">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Zimmet</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.id)


                    <div class="form-group">
                        <label class="control-label col-md-2">Kategori</label>
                        <div class="col-md-10">
                            <select class="form-control select2" id="kategori_id" name="kategori_id">
                                <option selected="selected">Seçiniz</option>
                                @foreach (var item in kategoriler)
                                {
                                    <option value="@item.id" @(item.id == Model.Demirba.Model.kategori_id ? "selected" : "")>@item.kategoriadi</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Marka</label>
                        <div class="col-md-10">
                            <select class="form-control select2" id="marka_id" name="marka_id">
                                <option selected="selected">Seçiniz</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Model</label>
                        <div class="col-md-10">
                            <select class="form-control select2" id="model_id" name="model_id">
                                <option selected="selected">Seçiniz</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Demirbaş Bilgi</label>
                        <div class="col-md-10">
                            <select class="form-control select2" id="demirbas_id" name="demirbas_id">
                                <option selected="selected">Seçiniz</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Ofi.bina_id, "Bina", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <select class="form-control select2" id="bolum_id" name="bina_id">
                                <option selected="selected">Seçiniz</option>
                                @foreach (var item in bina)
                                {
                                    <option value="@item.id" @(item.id == Model.Ofi.bina_id ? "selected" : "")>@item.binaadi</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Ofi.kat_id, "Kat", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <select class="form-control" id="kat_id" name="kat_id">
                                <option selected="selected">Seçiniz</option>
                                @foreach (var item in katlar)
                                {
                                    <option value="@item.id" @(item.id == Model.Ofi.kat_id ? "selected" : "")>@item.katadi</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Ofisler</label>
                        <div class="col-md-10">
                            <select class="form-control" id="ofis_id" name="ofis_id">
                                @foreach (var item in ofisler)
                                {
                                    <option value="@item.id" @(item.id == Model.ofis_id ? "selected" : "")>@item.ofisno</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.tarih, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="text" id="tarih" name="tarih" class="form-control tarih" value="@Model.tarih" />
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.iadetarih, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.iadetarih, new { htmlAttributes = new { @class = "form-control tarih" } })
                            @Html.ValidationMessageFor(model => model.iadetarih, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.aciklama, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.aciklama, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.aciklama, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.durum, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="form-group form-checkbox">
                                <input type="checkbox" checked="checked" id="durum" value="1">
                                <label class="inline control-label" for="durum">Aktif / İade et</label>
                                <input type="hidden" name="durum" value="1" />
                            </div>
                            @Html.ValidationMessageFor(model => model.durum, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input id="guncelle" type="button" value="Güncelle" class="btn btn-warning" />
                        </div>
                    </div>
                </div>
            }

            <div>
                <button onclick="goBack()" class="btn btn-default">Geri Dön</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $(function () {
            getMarka();
        })
        //$('.select2').select2();
        function goBack() {
            window.history.back();
        }
        //$('.tarih').daterangepicker({
        //    singleDatePicker: true,
        //    "locale": {
        //        "format": "DD.MM.YYYY",
        //        "daysOfWeek": [
        //            "Pz",
        //            "Pt",
        //            "Sa",
        //            "Ca",
        //            "Pe",
        //            "Cu",
        //            "Ct"
        //        ],
        //        "monthNames": [
        //            "Ocak",
        //            "Subat",
        //            "Mart",
        //            "Nisan",
        //            "Mayis",
        //            "Haziran",
        //            "Temmuz",
        //            "Agustos",
        //            "Eylul",
        //            "Ekim",
        //            "Kasim",
        //            "Aralik"
        //        ],
        //        "firstDay": 1
        //    }
        //});

        //$('#iadeTarih').daterangepicker({
        //    singleDatePicker: true,
        //    "locale": {
        //        "format": "DD.MM.YYYY",
        //        "daysOfWeek": [
        //            "Pz",
        //            "Pt",
        //            "Sa",
        //            "Ca",
        //            "Pe",
        //            "Cu",
        //            "Ct"
        //        ],
        //        "monthNames": [
        //            "Ocak",
        //            "Subat",
        //            "Mart",
        //            "Nisan",
        //            "Mayis",
        //            "Haziran",
        //            "Temmuz",
        //            "Agustos",
        //            "Eylul",
        //            "Ekim",
        //            "Kasim",
        //            "Aralik"
        //        ],
        //        "firstDay": 1
        //    }
        //});
        $('#iadeTarih').val('');

        $('#durum').on('click', function () {

            var d = new Date();
            var month = d.getMonth() + 1;
            var day = d.getDate();
            var output = day + '.' +
                (month < 10 ? '0' : '') + month + '.' +
                (day < 10 ? '0' : '') + d.getFullYear();

            var deger = $(this).is(':checked');
            if (deger) {
                $('#durum').val('1');
                $('#iadeTarih').val('');
            }
            else {
                $('#durum').val('0');
                $('#iadeTarih').val(output);
            }
        });

        $('#kategori_id').on('change', function () {
            getDemirbas();
        });





        function getMarka()
        {
            
            var kategori_id = $('#kategori_id').val();
            var markaid = @(Model.Demirba.Model.marka_id);
            if (kategori_id != null) {
                $.get('@Url.Action("getMarkas", "Zimmets")', { 'kategori_id': kategori_id }, function (result) {
                    
                    $('#marka_id option').remove();
                    $('#model_id option').remove();
                    //$('#model_id').append('<option selected>Seçiniz</option>');
                    //$('#marka_id').append('<option selected>Seçiniz</option>');
                    $.each(result, function (i, data) {
                        
                        if (data.id==markaid) {
                            option = '<option value=' + data.id + ' selected>' + data.markaadi + '</option>';
                    }
                    else {
                            option = '<option value=' + data.id + '>' + data.markaadi + '</option>';
                    }
                        $('#marka_id').append(option);
                    });
                    getModel();
                });
            }
        }

        function getModel() {
            
            var marka_id = $('#marka_id').val();
            var kategori_id = $('#kategori_id').val();
            var modelid = @(Model.Demirba.model_id);
            if (marka_id != null) {
                $.get('@Url.Action("getModels", "Zimmets")', { 'marka_id': marka_id, 'kategori_id': kategori_id }, function (result) {
                    
                    $('#model_id option').remove();
                    $('#model_id').append('<option selected>Seçiniz</option>');
                    $.each(result, function (i, data) {
                        if (data.id == modelid) {
                            option = '<option value=' + data.id + ' selected>' + data.modeladi + '</option>';
                        }
                        else {
                            option = '<option value=' + data.id + '>' + data.modeladi + '</option>';
                        }
                        $('#model_id').append(option);
                    });
                    getDemirbas();
                });
            }
        }

        function getOfis()
        {
            var kat_id = $('#ofis_id').val();
            var binaId = $('#bina_id').val();
            $('#ofis_id option').remove();
            $.post('@Url.Action("GetOfis", "Zimmets")', { bina_id: binaId, kat_id: idx }, function (result) {

                $.each(result, function (i, data) {
                     if (data.id==@(Model.ofis_id)) {
                         option = '<option value=' + data.id + '>' + data.Ofisno + '</option>';
                    }
                    else {
                         option = '<option value=' + data.id + '>' + data.Ofisno + '</option>';
                    }
                     $('#ofis_id').append(option);
                });
            });
        }

          function getDemirbas()
          {
              var idx = $('#model_id').val();
               var demirbasid = @(Model.demirbas_id);
              $('#demirbas_id option').remove();
              if (idx == '@Model.Demirba.model_id') {
                    var optionx = "<option value='@Model.demirbas_id'>@(Html.Raw(Model.Demirba.demirbasadi))</option>";
                    $('#demirbas_id').append(optionx);
              }

              $.get('@Url.Action("GetDemirbaslar", "Zimmets")', { model_id: idx }, function (result) {
                  $.each(result, function (i, data) {
                      if (data.id == demirbasid) {
                          option = '<option value=' + data.id + ' selected>' + data.demirbasadi + '</option>';
                      }
                      else {
                          option = '<option value=' + data.id + '>' + data.demirbasadi + '</option>';
                      }
                      $('#demirbas_id').append(option);
                });
              });
        }

        $('#kat_id').on('change', function () {
            var idx = $(this).val();
            var binaId = $('#bina_id').val();
            $('#ofis_id option').remove();
            $.post('@Url.Action("GetOfis", "Zimmets")', { bina_id: binaId, kat_id: idx }, function (result) {

                $.each(result, function (i, data) {
                    var option = '<option value=' + data.id + '>' + data.Ofisno +'</option>';
                    $('#ofis_id').append(option);
                });
            });
        });
        function dateFormat(date) {
            let year = date.split('.')[2];
            let month = date.split('.')[1];
            let day = date.split('.')[0];
            let newdate = year + "-" + month + "-" + day;
            return newdate;
        }
          $('#guncelle').on('click', function (e) {

            e.preventDefault();
            var token = $('input[name="__RequestVerificationToken"]').val();
            var demirbas = $('#demirbas_id').val();
              var ofis = $('#ofis_id').val();
              var tarih = $('#tarih').val();
              var iadetarih = $('#iadeTarih').val();
            var fdata = new FormData();
            fdata.append("__RequestVerificationToken", token);
            fdata.append("demirbas_id", demirbas);
            fdata.append("ofis_id", ofis);
              fdata.append("tarih", dateFormat(tarih));
              fdata.append("iadeTarih", dateFormat(iadetarih));
            fdata.append("aciklama", $('#aciklama').val());
            fdata.append("durum", $('#durum').val());
            if ((demirbas == "Seçiniz" || demirbas == null) || ofis == "Seçiniz") {
                var boslar = "";
                if (demirbas == "Seçiniz" || demirbas == null) {
                    boslar += "Demirbaş Bilgi,";
                }
                if (ofis == "Seçiniz" || ofis == null) {
                    boslar += "Ofis No,";
                }
                boslar = boslar.substring(0, boslar.length - 1);
                swal({
                    title: "Hata",
                    text: "Lütfen tüm bilgileri giriniz! (" + boslar + ")",
                    type: "warning"
                });
                return;
            }
            $.ajax({
                url: '@Url.Action("Ofis_Edit", "Zimmets")',
                type: "POST",
                contentType: false,
                processData: false,
                data: fdata,
                success: function (data) {
                    swal({
                        title: "İşlem Sonucu",
                        text: data,
                        type: "success"
                    }, function () {
                        window.location.href = '@Url.Action("OfisListe", "Zimmets")';
                    })
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log(textStatus);
                }
            });
        });

    </script>


}
