﻿@model IEnumerable<DmrbTakip.DAL.Zimmet>

@{
    ViewBag.Title = "PersonelZimmmet";
    Layout = "~/Views/Shared/_LMaster.cshtml";
    var personeller = (List<DmrbTakip.Models.Contructers.PersonelZimmetView>)ViewBag.Personeller;
}

<div class="row">
    <div class="col-md-12">
        <div class="breadcromb-area">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-left">
                        <h3>Tanımlı Personel Zimmetler</h3>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-right">
                        <ul>
                            <li><a href="/">Giriş</a></li>
                            <li>Zimmetler</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcromb Row -->
<!-- Advance Table Row Start -->
<div class="row">
    <div class="col-md-12">
        <div class="page-box">
            <div class="datatables-example-heading">
                <h3>Personel Zimmetler</h3>
            </div>
            @Html.ActionLink("Yeni Kayıt", "Create", null, new { @class = "btn btn-info" })
            <div class="table-responsive advance-table">
                <table class="table display table-bordered" id="datatable1" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                Personel Bilgi
                            </th>
                            <th>
                                Bina
                            </th>
                            <th>Kat</th>
                            <th>Birim Bilgi</th>
                            <th>Zimmet Bilgi</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in personeller)
                        {
                            string resim = string.IsNullOrEmpty(item.resim) ? "resimyok.jpg" : item.resim;
                            <tr>
                                <td>
                                    <img src="~/Resimler/@(resim)" style="width:120px" /><br />
                                    @item.ad @item.soyad
                                </td>
                                <td>
                                    @item.bina
                                </td>
                                <td>
                                    @item.kat
                                </td>
                                <td>
                                    @item.birimadi<br />
                                    <label style="color:@(item.durum == 1 ? "" : "red")"> @(item.durum == 1 ? "Aktif Personel" : "Pasif!")</label>

                                </td>
                                <td>
                                    <table class="table">
                                        <tr>
                                            <th>Kategori</th>
                                            <th>Marka</th>
                                            <th>Model</th>
                                            <th>
                                                Demirbaş Bilgi
                                            </th>
                                            <th>
                                                Zimmet Tarihi
                                            </th>
                                            @*<th>
                                                    İade Tarihi (İade Edilmişse)
                                                </th>*@
                                            <th>
                                                Açıklama
                                            </th>
                                            @*<th>
                                                    Durum
                                                </th>*@

                                            <th></th>
                                        </tr>
                                        @foreach (var itemDty in Model.Where(r => r.personel_id == item.personel_id))
                                        {
                                            <tr>
                                                <td>@itemDty.Demirba.Model.Kategori.kategoriadi</td>
                                                <td>@itemDty.Demirba.Model.Marka.markaadi</td>
                                                <td>@itemDty.Demirba.Model.modeladi</td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => itemDty.Demirba.demirbasadi)<br />
                                                    @itemDty.Demirba.serino
                                                </td>
                                                <td>
                                                    @itemDty.tarih.ToShortDateString()
                                                </td>
                                                @*<td>
                                                        @(itemDty.iadetarih == null ? "Kullanımda" : itemDty.iadetarih.Value.ToShortDateString())
                                                    </td>*@
                                                <td>
                                                    @Html.DisplayFor(modelItem => itemDty.aciklama)
                                                </td>
                                                @*<td>
                                                        <input type="checkbox" name="durum" value="@itemDty.durum" @(itemDty.durum == 1 ? "checked" : "") class="checkbox" disabled />
                                                    </td>*@

                                                <td>
                                                    @Html.ActionLink("Günceller", "Edit", new { id = itemDty.id }, new { @class = "btn btn-bordered-warning" })
                                                    <button class="btn btn-danger" onclick="Iadeet(@itemDty.id);">İade</button>
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </td>
                                <td>
                                    <a href="~/PZimmet.html?id=@item.personel_id" title="Çıktı Döküm Al" class="btn btn-info" target="_blank">Çıktı Döküm Al</a>
                                </td>


                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        function Iadeet(id) {
            debugger
            swal({
                title: "Zimmet iadesi?",
                text: "Demirbaş personel zimmetinden iade alınacaktır. Eminmsiniz!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "EVET",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    url: '@Url.Action("Zimmetiade", "Zimmets")',
                        data: { 'id': id },
                        success: function (result) {
                            if (result > 0) {
                                swal({
                                    title: "İşlem Sonucu",
                                    text: "Demirbaş iadesi başarıyla gerçekleşti",
                                    type: "success"
                                }, function () {
                                    location.reload();
                                });
                            }
                        }
                    });
            });
        }




    </script>



}