﻿
@{
    ViewBag.Title = "kbul";
    Layout = "~/Views/Shared/_LMaster.cshtml";
}
<link href="~/Qrcode/bootstrap.min.css" rel="stylesheet" />
<style type="text/css">
    .scanner-laser {
        position: absolute;
        margin: 40px;
        height: 30px;
        width: 30px;
    }

    .laser-leftTop {
        top: 0;
        left: 0;
        border-top: solid red 5px;
        border-left: solid red 5px;
    }

    .laser-leftBottom {
        bottom: 0;
        left: 0;
        border-bottom: solid red 5px;
        border-left: solid red 5px;
    }

    .laser-rightTop {
        top: 0;
        right: 0;
        border-top: solid red 5px;
        border-right: solid red 5px;
    }

    .laser-rightBottom {
        bottom: 0;
        right: 0;
        border-bottom: solid red 5px;
        border-right: solid red 5px;
    }
</style>

<div id="QR-Code" class="container" style="width:100%">
    <div class="panel panel-primary">
        <div class="panel-heading" style="display: inline-block;width: 100%; background-color:#333 !important">
            <h4 style="width:50%;float:left;">QR Kod Arama</h4>
            <div style="width:50%;float:right;margin-top: 5px;margin-bottom: 5px;text-align: right;">
                <select id="camera-select" class="form-control" style="visibility:hidden;width: auto;" ></select>
                @*<button id="save" data-toggle="tooltip" title="Image shoot" type="button" class="btn btn-info btn-sm disabled"><span class="glyphicon glyphicon-picture"></span></button>*@
                <button id="play" data-toggle="tooltip" title="Başlat" type="button" class="btn btn-success btn-sm" style="display:none"><span class="glyphicon glyphicon-play"></span></button>
                @*<button id="stop" data-toggle="tooltip" title="Stop" type="button" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-stop"></span></button>*@
                @*<button id="stopAll" data-toggle="tooltip" title="Durdur" type="button" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-stop"></span></button>*@
            </div>
        </div>
        <div class="panel-body">
            <div class="col-md-6" style="text-align: center;">
                <div class="well" style="position: relative;display: inline-block;">
                    <canvas id="webcodecam-canvas"></canvas>
                    <div class="scanner-laser laser-rightBottom" style="opacity: 0.5;"></div>
                    <div class="scanner-laser laser-rightTop" style="opacity: 0.5;"></div>
                    <div class="scanner-laser laser-leftBottom" style="opacity: 0.5;"></div>
                    <div class="scanner-laser laser-leftTop" style="opacity: 0.5;"></div>
                </div>
              
            </div>
            <div class="col-md-6" style="text-align: center;">
                <div id="result" class="thumbnail">
                    @*<div class="well" style="position: relative;visibility: hidden">
                        <img id="scanned-img" src="" width="320" height="240">
                    </div>*@
                    <div class="caption">
                        <h3>Tarama Sonucu</h3>
                        <div id="sonuc">
                            <table class="table">
                                <tr>
                                    <td colspan="2">
                                        <img src="" id="dmbsResim-QR" style="width:250px; height:200px" onerror="this.src='../Resimler/resimyok.jpg'" />
                                        <img src="" id="prsResim-QR" style="width:130px; height:100px; float:right; margin-top: 100px;" onerror="this.src='../Resimler/resimyok.jpg'" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>Yetkili :</td>
                                    <td>
                                        <p id="personel-QR">-</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Bina / Bölüm / Birim-Ofis :</td>
                                    <td><p id="binbolbir-QR">-</p></td>
                                </tr>
                                <tr>
                                    <td>Ürün / Marka / Model :</td>
                                    <td><p id="katmarmod-QR">-</p></td>
                                </tr>
                                <tr>
                                    <td>Demirbaş :</td>
                                    <td><p id="dbadi-QR">-</p></td>
                                </tr>
                                <tr>
                                    <td>Seri No :</td>
                                    <td><p id="seri-QR">-</p></td>
                                </tr>
                                <tr>
                                    <td colspan="2" >
                                        <div class="btn-group" role="group" aria-label="İşlemler">
                                            <button id="cikis" class="btn btn-default">Kapat</button>
                                            <button id="temizle" class="btn btn-warning" style="display:none">Yeni Arama</button>
                                            <button id="git" class="btn btn-danger" style="display:none" data-id="" data-backdrop="">Kayda Git</button> 
                                        </div>                                       
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="panel-footer">
        </div>*@
    </div>
</div>

<script type="text/javascript" src="~/Qrcode/js/filereader.js"></script>
<script type="text/javascript" src="~/Qrcode/js/jquery.js"></script>
<script type="text/javascript" src="~/Qrcode/js/qrcodelib.js"></script>
<script type="text/javascript" src="~/Qrcode/js/webcodecamjquery.js"></script>
<script type="text/javascript" src="~/Qrcode/js/mainjquery.js"></script>
@*<script type="text/javascript" src="~/Qrcode/js/main.js"></script>*@
<script>
    $('#play').click();
    $('#cikis').on('click', function (e) {
        e.preventDefault();
        window.location.href = '@Url.Action("Index","Giris")';
    });
    $('#temizle').on('click', function (e) {
        e.preventDefault();
        location.reload();
    });
    $('#git').on('click', function (e) {
        e.preventDefault();
        var id = $('#git').data('id');
        var yol = $('#git').data('backdrop');      
        window.location.href = '/Zimmets/' + yol + '/' + id;
    });
    $('#webcodecam-canvas').attr('style', 'width:210px;height:170px');
</script>