﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LMaster.cshtml";
}

<!-- Breadcromb Row Start -->
<div class="row">
    <div class="col-md-12">
        <div class="breadcromb-area">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-left">
                        <h3>NOTLAR</h3>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-right">
                        <ul>
                            <li><a href="/Giris/Index">Giris</a></li>
                            <li>Gelismis Uygulamalar</li>
                            <li>Notlar</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcromb Row -->
<!-- Notes Row Start -->
<div class="row">
    <div class="col-md-12">
        <div class="page-box">
            <div class="row">
                <div class="col-md-12">
                    <div class="create-notes-btn">
                        <a class="btn btn-success" data-toggle="modal" data-target="#notesmodal" href="#">
                            <i class="fa fa-plus"></i>Yeni Not Ekle
                        </a>
                    </div>
                </div>
            </div>
            <div class="all-notes-box">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="single-notes alert">
                            <div class="single-notes-head">
                                <a href="#" class="notes-close" data-toggle="tooltip" title="Remove" data-dismiss="alert" aria-label="close">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                            <div class="single-notes-body">
                                <div class="single-notes-date">
                                    <p>04/16/2018</p>
                                </div>
                                <div class="single-notes-title">
                                    <h3>Notes Title Here</h3>
                                </div>
                                <div class="single-notes-content">
                                    <p>standard dummy text ever since the 1500s, when an unknown printer took</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="single-notes alert">
                            <div class="single-notes-head">
                                <a href="#" class="notes-close" data-toggle="tooltip" title="Remove" data-dismiss="alert" aria-label="close">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                            <div class="single-notes-body">
                                <div class="single-notes-date">
                                    <p>04/16/2018</p>
                                </div>
                                <div class="single-notes-title">
                                    <h3>Notes Title Here</h3>
                                </div>
                                <div class="single-notes-content">
                                    <p>standard dummy text ever since the 1500s, when an unknown printer took</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="single-notes alert">
                            <div class="single-notes-head">
                                <a href="#" class="notes-close" data-toggle="tooltip" title="Remove" data-dismiss="alert" aria-label="close">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                            <div class="single-notes-body">
                                <div class="single-notes-date">
                                    <p>04/16/2018</p>
                                </div>
                                <div class="single-notes-title">
                                    <h3>Notes Title Here</h3>
                                </div>
                                <div class="single-notes-content">
                                    <p>standard dummy text ever since the 1500s, when an unknown printer took</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="single-notes alert">
                            <div class="single-notes-head">
                                <a href="#" class="notes-close" data-toggle="tooltip" title="Remove" data-dismiss="alert" aria-label="close">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                            <div class="single-notes-body">
                                <div class="single-notes-date">
                                    <p>04/16/2018</p>
                                </div>
                                <div class="single-notes-title">
                                    <h3>Notes Title Here</h3>
                                </div>
                                <div class="single-notes-content">
                                    <p>standard dummy text ever since the 1500s, when an unknown printer took</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="single-notes alert">
                            <div class="single-notes-head">
                                <a href="#" class="notes-close" data-toggle="tooltip" title="Remove" data-dismiss="alert" aria-label="close">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                            <div class="single-notes-body">
                                <div class="single-notes-date">
                                    <p>04/16/2018</p>
                                </div>
                                <div class="single-notes-title">
                                    <h3>Notes Title Here</h3>
                                </div>
                                <div class="single-notes-content">
                                    <p>standard dummy text ever since the 1500s, when an unknown printer took</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="single-notes alert">
                            <div class="single-notes-head">
                                <a href="#" class="notes-close" data-toggle="tooltip" title="Remove" data-dismiss="alert" aria-label="close">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                            <div class="single-notes-body">
                                <div class="single-notes-date">
                                    <p>04/16/2018</p>
                                </div>
                                <div class="single-notes-title">
                                    <h3>Notes Title Here</h3>
                                </div>
                                <div class="single-notes-content">
                                    <p>standard dummy text ever since the 1500s, when an unknown printer took</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="single-notes alert">
                            <div class="single-notes-head">
                                <a href="#" class="notes-close" data-toggle="tooltip" title="Remove" data-dismiss="alert" aria-label="close">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                            <div class="single-notes-body">
                                <div class="single-notes-date">
                                    <p>04/16/2018</p>
                                </div>
                                <div class="single-notes-title">
                                    <h3>Notes Title Here</h3>
                                </div>
                                <div class="single-notes-content">
                                    <p>standard dummy text ever since the 1500s, when an unknown printer took</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="single-notes alert">
                            <div class="single-notes-head">
                                <a href="#" class="notes-close" data-toggle="tooltip" title="Remove" data-dismiss="alert" aria-label="close">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                            <div class="single-notes-body">
                                <div class="single-notes-date">
                                    <p>04/16/2018</p>
                                </div>
                                <div class="single-notes-title">
                                    <h3>Notes Title Here</h3>
                                </div>
                                <div class="single-notes-content">
                                    <p>standard dummy text ever since the 1500s, when an unknown printer took</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Notes Row -->
<!-- Start Modal -->
<div class="modal fade" id="notesmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Yeni Not Ekle</h4>
            </div>
            <div class="modal-body">
                <div class="notes_sector">
                    <form>
                        <p>
                            <input type="text" class="picker_1" name="note-date" placeholder="Tarih" />
                        </p>
                        <p>
                            <input type="text" placeholder="Notun Başlığı...">
                        </p>
                        <p class="notes_create">
                            <textarea placeholder="Notunuzu buraya yazın"></textarea>
                        </p>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success">Değişiklikleri Kaydet</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
