﻿@model DmrbTakip.DAL.Islem_Log

@{
    ViewBag.Title = "islem_log";
    Layout = "~/Views/Shared/_LMaster.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Islem_Log</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.baslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.baslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.icerik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.icerik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Personel.ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personel.ad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Geri Dön", "Index", null, new { @class = "btn btn-default" })
</p>
