﻿@model IEnumerable<DmrbTakip.DAL.Islem_Log>

@{
    ViewBag.Title = "islem_log";
    Layout = "~/Views/Shared/_LMaster.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="breadcromb-area">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-left">
                        <h3>Tanımlı İşlemler</h3>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-right">
                        <ul>
                            <li><a href="/">Giriş</a></li>
                            <li>Tanımlamalar</li>
                            <li>İslemler</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcromb Row -->
<!-- Advance Table Row Start -->
<div class="row">
    <div class="col-md-12">
        <div class="page-box">
            <div class="datatables-example-heading">
                <h3>İşlemler</h3>

            </div>
            <div class="table-responsive advance-table">
                <table class="table display table-bordered" id="datalist">

                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.baslik)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.icerik)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.tarih)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Personel.ad)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.baslik)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.icerik)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tarih)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Personel.ad)
                                </td>
                                <td>
                                    @Html.ActionLink("İçerik", "Details", new { id = item.id })

                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('#datalist').dataTable({
            "scrollY": "800px",
            "scrollCollapse": true,
            "paging": false
        });
    </script>

}