﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LMaster.cshtml";
}

<!-- Breadcromb Row Start -->
<div class="row">
    <div class="col-md-12">
        <div class="breadcromb-area">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-left">
                        <h3>Profilim</h3>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="seipkon-breadcromb-right">
                        <ul>
                            <li><a href="index.html">Giris</a></li>
                            <li>Additional Pages</li>
                            <li>Profilim</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcromb Row -->
<!-- Profile Row Start -->
<div class="row">
    <div class="col-md-4">
        <div class="profile-left">
            <div class="widget_card_page profile-box header_bg_blue">
                <div class="profile-widget-img">
                    <img src="~/assets/img/msg-1.png" />
                </div>
                <div class="profile-widget-info">
                    <h3>Margaret Govan</h3>
                    <p>Marketing Manager</p>
                </div>
                <div class="profile-rating">
                    <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                    <p>(174 rating)</p>
                </div>
                <div class="text-center profile-widget-social">
                    <a href="#">Profilimi Düzenle <i class="fa fa-pencil"></i></a>
                </div>
            </div>
            <!-- End Widget Card -->
            <div class="profile-bio">
                <div class="single-profile-bio">
                    <h3>Hakkımda</h3>
                    <p>accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer</p>
                    <p>eiusm ni eiusmod high life accusamus terry richardson ad squid. 3 wolfmoon officia.</p>
                </div>
                <div class="single-profile-bio">
                    <h3>Genel Bilgi</h3>
                    <ul>
                        <li><i class="fa fa-map-marker"></i> San Francisco, California, USA</li>
                        <li><i class="fa fa-briefcase"></i> Software Developer</li>
                        <li><i class="fa fa-globe"></i> <a href="#">www.example.com</a></li>
                    </ul>
                </div>
                <div class="single-profile-bio">
                    <h3>Özgeçmiş</h3>
                            <ul class="work_history">
                                <li>
                                    <h4>Meslek</h4>
                                    <p>Software Developer</p>
                                </li>
                                <li>
                                    <h4>Beceriler</h4>
                                    <p>C#, PHP, Javascript, Angular, JS, HTML, CSS</p>
                                </li>
                                <li>
                                    <h4>İşler</h4>
                                    <p><span>Self-Employed </span>: 2010 - Now</p>
                                    <p><span>ABC Foundation </span>: 2007 - 2010</p>
                                </li>
                            </ul>
                </div>
                <div class="single-profile-bio">
                    <h3>Sosyal Hesaplar</h3>
                    <ul class="social-connection">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="profile-right">
            <div class="profile-wall-share">
                <ul>
                    <li><a href="#"><i class="fa fa-pencil"></i>Güncelleme Durumu</a></li>
                    <li><a href="#"><i class="fa fa-picture-o"></i>Fotoğraf Yayınla</a></li>
                    <li><a href="#"><i class="fa fa-book"></i>Bir Şeyler Yaz</a></li>
                </ul>
                <div class="profile-wall-textbox">
                    <div class="profile-wall-img">
                        <img src="~/assets/img/msg-1.png" />
                    </div>
                    <textarea placeholder="Aklında ne var?"></textarea>
                </div>
                <div class="profile-wall-action">
                    <div class="wall-action-left">
                        <ul>
                            <li><a href="#"><i class="fa fa-camera"></i></a></li>
                            <li><a href="#"><i class="fa fa-user-circle-o"></i></a></li>
                            <li><a href="#"><i class="fa fa-file-text"></i></a></li>
                            <li><a href="#"><i class="fa fa-map-marker"></i></a></li>
                        </ul>
                    </div>
                    <div class="wall-action-right">
                        <a href="#">Post</a>
                    </div>
                </div>
            </div>
            <div class="profile-page-post-list">
                <div class="single-profile-list">
                    <div class="timeline-header">
                        <div class="timeline-header-img">
                            <div class="tm_img">
                                <img src="~/assets/img/msg-3.png" />
                            </div>
                        </div>
                        <div class="timeline-header-name">
                            <p><a href="#">Emanual Doe</a> posted on your timeline</p>
                            <span>32 minutes ago</span>
                        </div>
                    </div>
                    <div class="timeline-post-body">
                        <div class="row">
                            <div class="col-md-8 no-pad-right">
                                <div class="post-body-img">
                                    <img src="~/assets/img/carousel/Carousel_1.jpeg" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="post-body-img sm-post-img">
                                    <img src="assets/img/carousel/Carousel_3.png" alt="post image" />
                                </div>
                                <div class="post-body-img sm-post-img">
                                    <img src="assets/img/carousel/Carousel_4.jpeg" alt="post image" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline-post-like-share">
                        <a href="#"><i class="fa fa-heart"></i> 241</a>
                        <a href="#"><i class="fa fa-share"></i> 114</a>
                        <a href="#"><i class="fa fa-comments"></i>36</a>
                    </div>
                </div>
                <div class="single-profile-list">
                    <div class="timeline-header">
                        <div class="timeline-header-img">
                            <div class="tm_img">
                                <img src="assets/img/msg-2.png" alt="timeline" />
                            </div>
                        </div>
                        <div class="timeline-header-name">
                            <p><a href="#">Eric Alsobrook</a> shared something with you</p>
                            <span>December 21, 2017</span>
                        </div>
                    </div>
                    <div class="timeline-post-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Ipsum dolor sit amet, consectetur adipiscing elit. Fusce et eleifend ligula. Fusce posuere in sapien ac facilisis. Etiam sit amet justo non felis ornare feugiat. Aenean lorem ex, ultrices sit amet ligula sed. Fusce posuere in sapien ac facilisis...</p>
                            </div>
                        </div>
                    </div>
                    <div class="timeline-post-like-share">
                        <a href="#"><i class="fa fa-heart"></i> 41</a>
                        <a href="#"><i class="fa fa-share"></i> 54</a>
                        <a href="#"><i class="fa fa-comments"></i>16</a>
                    </div>
                </div>
                <div class="single-profile-list">
                    <div class="timeline-header">
                        <div class="timeline-header-img">
                            <div class="tm_img">
                                <img src="assets/img/msg-4.png" alt="timeline" />
                            </div>
                        </div>
                        <div class="timeline-header-name">
                            <p><a href="#">David Johnson</a> shared an article with you</p>
                            <span>32 minutes ago</span>
                        </div>
                    </div>
                    <div class="timeline-post-body article_post">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Hey! This may be your last chance to own bitcoins - Join the community now!</p>
                                <div class="post-body-img">
                                    <img src="assets/img/carousel/Carousel_5.jpeg" alt="post image" />
                                </div>
                                <div class="post-body-text">
                                    <h3>Exercitation +1 labore velit, blog sartorial</h3>
                                    <p>accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline-post-like-share">
                        <a href="#"><i class="fa fa-heart"></i> 241</a>
                        <a href="#"><i class="fa fa-share"></i> 114</a>
                        <a href="#"><i class="fa fa-comments"></i>36</a>
                    </div>
                </div>
                <div class="single-profile-list">
                    <div class="timeline-header">
                        <div class="timeline-header-img">
                            <div class="tm_img">
                                <img src="assets/img/msg-2.png" alt="timeline" />
                            </div>
                        </div>
                        <div class="timeline-header-name">
                            <p><a href="#">Eric Alsobrook</a> shared something with you</p>
                            <span>December 21, 2017</span>
                        </div>
                    </div>
                    <div class="timeline-post-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Ipsum dolor sit amet, consectetur adipiscing elit. Fusce et eleifend ligula. Fusce posuere in sapien ac facilisis. Etiam sit amet justo non felis ornare feugiat. Aenean lorem ex, ultrices sit amet ligula sed. Fusce posuere in sapien ac facilisis...</p>
                            </div>
                        </div>
                    </div>
                    <div class="timeline-post-like-share">
                        <a href="#"><i class="fa fa-heart"></i> 41</a>
                        <a href="#"><i class="fa fa-share"></i> 54</a>
                        <a href="#"><i class="fa fa-comments"></i>16</a>
                    </div>
                </div>
                <div class="single-profile-list">
                    <div class="timeline-header">
                        <div class="timeline-header-img">
                            <div class="tm_img">
                                <img src="assets/img/msg-1.png" alt="timeline" />
                            </div>
                        </div>
                        <div class="timeline-header-name">
                            <p><a href="#">Margaret Govan</a></p>
                            <span>June 13, 2017</span>
                        </div>
                    </div>
                    <div class="timeline-post-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Ipsum dolor sit amet, consectetur adipiscing elit. Fusce et eleifend ligula. Fusce posuere in sapien ac facilisis. Etiam sit amet justo non felis ornare feugiat. Aenean lorem ex, ultrices sit amet ligula sed. Fusce posuere in sapien ac facilisis.Fusce et eleifend ligula. Fusce posuere in sapien ac facilisis. Etiam sit amet justo non felis ornare feugiat. Aenean lorem ex, ultrices sit amet ligula sed. Fusce posuere in sapien ac facilisis.consectetur adipiscing elit. Fusce et eleifend ligula. Fusce posuere in sapien ac facilisis. Etiam sit amet justo non felis ornare feugiat. Aenean lorem ex, ultrices sit amet ligula sed. Fusce posuere in sapien ac facilisis.Fusce et eleifend ligula. Fusce posuere in sapien ac facilisis. Etiam sit amet justo non felis ornare feugiat. Aenean lorem ex, ultrices sit amet ligula sed...</p>
                            </div>
                        </div>
                    </div>
                    <div class="timeline-post-like-share">
                        <a href="#"><i class="fa fa-heart"></i> 41</a>
                        <a href="#"><i class="fa fa-share"></i> 54</a>
                        <a href="#"><i class="fa fa-comments"></i>16</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Profile Row -->
